{% extends "includes/main.html" %};
{% load static %}
;
{% block title %}Comedores - Expedientes{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{% url 'admisiones_legales_listar' %}">Expedientes</a>
        </li>
        <li class="breadcrumb-item active">Listar</li>
    </ol>
{% endblock %}
;
{% block content %}
    <h2 class="text-center display-4 mb-4">Expedientes</h2>
    <div>
        <div class="mb-3">
            <input type="text"
                   id="comedorFilter"
                   class="form-control"
                   placeholder="Filtrar por cualquier campo..."
                   onkeyup="filterTable()" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-striped projects">
                        <thead>
                            <tr>
                                <th>Comedor</th>
                                <th>Tipo convenio</th>
                                <th>Num Expediente</th>
                                <th>Num IF</th>
                                <th>Modificado</th>
                                <th>Estado</th>
                                <th style="width: 10%" class="notexport">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admision in admisiones %}
                                <tr>
                                    <td>
                                        <a href="{% url 'comedor_detalle' admision.comedor.id %}"
                                           class="font-weight-bold link-handler"
                                           title="Ver detalles">{{ admision.comedor.nombre }}</a>
                                    </td>
                                    <td>{{ admision.tipo_convenio.nombre }}</td>
                                    <td>{{ admision.num_expediente }}</td>
                                    <td>{{ admision.num_if }}</td>
                                    <td>{{ admision.modificado|date:'d/m/Y' }}</td>
                                    <td>{{ admision.estado_legales| default_if_none:"-" }}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a href="{% url 'admisiones_legales_ver' admision.id %}"
                                               class="btn btn-primary btn-sm">Ver</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                        <div class="mt-2">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?{% if query %}busqueda={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}"
                                           class="page-link">Volver</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link">Volver</a>
                                    </li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active">
                                            <a href="?{% if query %}busqueda={{ query }}&{% endif %}page={{ i }}"
                                               class="page-link">{{ i }}</a>
                                        </li>
                                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                        <li class="page-item">
                                            <a href="?{% if query %}busqueda={{ query }}&{% endif %}page={{ i }}"
                                               class="page-link">{{ i }}</a>
                                        </li>
                                    {% elif i == 1 or i == page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a href="?{% if query %}busqueda={{ query }}&{% endif %}page={{ i }}"
                                               class="page-link">{{ i }}</a>
                                        </li>
                                    {% elif i == page_obj.number|add:'-6' or i == page_obj.number|add:'6' %}
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link">...</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?{% if query %}busqueda={{ query }}&{% endif %}page={{ page_obj.next_page_number }}"
                                           class="page-link">Continuar</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link">Continuar</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script src="{% static 'custom/js/filtroadmisiones.js' %}"></script>
{% endblock %}
