{% extends "includes/main.html" %}; {% load static %} ; {% block title %}Comedor
- {{ comedor.nombre }}{% endblock %} ; {% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <div class="breadcrumb-item">
    <a href="{% url 'comedores' %}">Comedores</a>
  </div>
  <div class="breadcrumb-item">
    <a href="{% url 'comedor_detalle' comedor.id %}">{{ comedor.nombre }}</a>
  </div>
  <div class="breadcrumb-item">Eliminar</div>
</ol>
{% endblock %} ; {% block content %} {% include
'components/forms/delete_confirm.html' with object=comedor object_name="comedor"
object_url='comedor_detalle' cancel_url='comedor_detalle' object_id=comedor.id
%} {% endblock %}
