{% extends "includes/main.html" %};
{% load static %}
;
{% block title %}Comedor: {{ comedor.nombre }}{% endblock %}
;
<div class="col-md-2 pt-5">
    <c-dashboard.v-info-box titulo='Beneficiarios' valor='{{ tipo_comedor }}' color='success'>
    <i class="fa fa-user"></i>
    </c-dashboard.v-info-box>
</div>
{% block titulo-pagina %}
    {{ comedor.nombre }}
    <span class="ml-2 h5">| {{ comedor.provincia__nombre | default_if_none:"-" }}, {{ comedor.municipio__nombre | default_if_none:"-" }}, {{ comedor.localidad__nombre | default_if_none:"-" }}</span>
    <span class="ml-2 h5">- {{ comedor.programa__nombre }} - {{ comedor_categoria.categoria.nombre }}</span>
{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <div class="breadcrumb-item">
            <a href="{% url 'comedores' %}">Comedores</a>
        </div>
        <div class="breadcrumb-item active">{{ comedor.nombre }}</div>
    </ol>
{% endblock %}
;
{% load crispy_forms_tags %}
;
{% block content %}
    <link rel="stylesheet" href="{% static 'custom/css/cardsDetail.css' %}" />
    <link rel="stylesheet"
          href="{% static 'custom/css/comedorRelevamiento.css' %}" />
    <div class="row justify-content-between d-print-none mx-1 mb-3">
        <div class="col-auto">
            <a href="{% url 'comedores' %}"
               class="btn btn-secondary mr-1 backbutton-handler">Volver</a>
        </div>
        <div class="col-auto">
            {% if contacto_dupla %}
                <button type="button"
                        class="btn btn-primary mr-1"
                        data-bs-toggle="modal"
                        data-bs-target="#nuevoContactoDupla">Contacto</button>
            {% endif %}
            <a href="{% url 'nomina_ver' pk=comedor.id %}"
               class="btn btn-primary mr-1">Nomina</a>
            <a href="{% url 'dupla_asignar' pk=comedor.id %}"
               class="btn btn-primary mr-1">Asignar Dupla</a>
            <a href="{% url 'ciudadano_intervencion_ver' comedor.id %}"
               class="btn btn-primary mr-1">Intervenciones</a>
            <a href="{% url 'comedor_editar' comedor.id %}"
               class="btn btn-primary mr-1">Editar</a>
            <a href="#" class="btn btn-secondary print mr-1 d-none d-sm-inline">Imprimir</a>
            <a href="{% url 'comedor_eliminar' comedor.id %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    <div class="row text-center mb-3">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pt-3">
            <div class="info-card bg-card">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-clipboard fa-2x"></i>
                    </div>
                    <div class="col-9 text-start">
                        <p>{{ count_relevamientos }}</p>
                    </div>
                </div>
                <div class="row info-card-label">
                    <h5 class="mt-2">Relevamientos</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pt-3">
            <div class="info-card bg-card">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-users fa-2x"></i>
                    </div>
                    <div class="col-9 text-start">
                        <p>{{ count_beneficiarios }}</p>
                    </div>
                </div>
                <div class="row info-card-label">
                    <h5 class="mt-2">Beneficiarios</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pt-3">
            <div class="info-card bg-card">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-coffee fa-2x"></i>
                    </div>
                    <div class="col-9 text-start">
                        <p>{{ presupuesto_desayuno }}</p>
                    </div>
                </div>
                <div class="row info-card-label">
                    <h5 class="mt-2">Presupuesto Desayuno</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pt-3">
            <div class="info-card bg-card">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-utensils fa-2x"></i>
                    </div>
                    <div class="col-9 text-start">
                        <p>{{ presupuesto_almuerzo }}</p>
                    </div>
                </div>
                <div class="row info-card-label">
                    <h5 class="mt-2">Presupuesto Almuerzo</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pt-3">
            <div class="info-card bg-card">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-mug-hot fa-2x"></i>
                    </div>
                    <div class="col-9 text-start">
                        <p>{{ presupuesto_merienda }}</p>
                    </div>
                </div>
                <div class="row info-card-label">
                    <h5 class="mt-2">Presupuesto Merienda</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pt-3">
            <div class="info-card bg-card">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-concierge-bell fa-2x"></i>
                    </div>
                    <div class="col-9 text-start">
                        <p>{{ presupuesto_cena }}</p>
                    </div>
                </div>
                <div class="row info-card-label">
                    <h5 class="mt-2">Presupuesto Cena</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card card-informacion">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold mr-3 pt-1">Información</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body card-comments p-0 pb-1">
                            <div class="nav nav-pills row my-3">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6 w-100">
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column min-width-100">
                                                    {% if comedor.foto_legajo %}
                                                        <img src="/media/{{ comedor.foto_legajo }}"
                                                             alt="Imagen del comedor"
                                                             class="img-fluid mw-100 rounded" />
                                                    {% else %}
                                                        <img src="{% static 'custom/img/default.png' %}"
                                                             alt="Imagen del comedor"
                                                             class="img-fluid mw-100 rounded" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="nav-item d-flex col-12">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Nombre
                                                <span class="username">{{ comedor.nombre }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Id Externo
                                                <span class="username">{{ comedor.id_externo | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Tipo Comedor
                                                <span class="username">{{ comedor.tipocomedor__nombre | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Organización
                                                <span class="username">{{ comedor.organizacion__nombre | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Año de comienzo
                                                <span class="username">{{ comedor.comienzo | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Provincia
                                                <span class="username">{{ comedor.provincia__nombre | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Municipio
                                                <span class="username">{{ comedor.municipio__nombre | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Localidad
                                                <span class="username">{{ comedor.localidad__nombre | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Partido
                                                <span class="username">{{ comedor.partido | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Barrio
                                                <span class="username">{{ comedor.barrio | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item d-flex col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Codigo postal
                                                <span class="username">{{ comedor.codigo_postal | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Calle
                                                <span class="username">{{ comedor.calle | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Número
                                                <span class="username">{{ comedor.numero | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Piso
                                                <span class="username">{{ comedor.piso | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Departamento
                                                <span class="username">{{ comedor.departamento | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Manzana
                                                <span class="username">{{ comedor.manzana | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Lote
                                                <span class="username">{{ comedor.lote | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Entre calle 1
                                                <span class="username">{{ comedor.entre_calle_1 | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Entre calle 2
                                                <span class="username">{{ comedor.entre_calle_2 | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Longitud
                                                <span class="username">{{ comedor.longitud | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                        <div class="nav-item col-6">
                                            <div class="comment-text comment-text d-flex flex-column">
                                                Latitud
                                                <span class="username">{{ comedor.latitud | default_if_none:"-" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Ubicación</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0" style="height: 400px;">
                    <!-- Define una altura fija -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26285617.576453168!2d-84.86622600167856!3d-36.46496148004889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaf5f5fdc667%3A0x3d2f77992af00fa8!2sArgentina!5e0!3m2!1sen!2sar!4v1714519306937!5m2!1sen!2sar"
                            style="border: 0;
                                   width: 100%;
                                   height: 100%"
                            allowfullscreen=""
                            loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Referente</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body card-comments p-0 pb-1">
                    <div class="nav nav-pills row my-3">
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Nombre completo
                                <span class="username">{{ comedor.referente__nombre | default_if_none:"-" }}, {{ comedor.referente__apellido | default_if_none:"-" }}</span>
                            </div>
                        </div>
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Numero de contacto
                                <span class="username">{{ comedor.referente__celular |   default_if_none:"-" }}</span>
                            </div>
                        </div>
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Mail de contacto
                                <span class="username" style="word-break: break-all;"><a href="mailto:{{ relevamiento.comedor__referente__mail }}">{{ comedor.referente__mail |   default_if_none:"-" }}</a></span>
                            </div>
                        </div>
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Documento
                                <span class="username">{{ comedor.referente__documento |   default_if_none:"-" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Relevamientos</h3>
                    <div class="card-tools">
                        <a href="{% url 'relevamientos' comedor.id %}"
                           class="btn btn-primary mx-3">Ver mas</a>
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#RelevamientoModal">Agregar</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body row card-comments p-0 pb-1">
                    {% for relevamiento in relevamientos %}
                        <div class="nav nav-pills row my-3">
                            <div class="col-4 d-flex align-self-center">
                                <a href="{% url 'relevamiento_detalle' comedor.id relevamiento.id %}">{{ relevamiento.id }} - {{ relevamiento.fecha_visita|default_if_none:"Pendiente" }}</a>
                            </div>
                            <div class="col-4 d-flex align-self-center">
                                <p {% if relevamiento.estado == "Pendiente" %} style="color: yellow;" {% elif relevamiento.estado == "Visita pendiente" %} style="color: green;" {% else %} style="color: white;" {% endif %}
                                   class="m-0">{{ relevamiento.estado }}</p>
                            </div>
                            {% if relevamiento.estado != "Finalizado" and relevamiento.estado != "Finalizado/Excepciones" %}
                                <button type="button"
                                        class="btn btn-primary col-4"
                                        data-bs-toggle="modal"
                                        data-bs-target="#RelevamientoModalEditar-{{ relevamiento.id }}">
                                    Asignar
                                </button>
                                <div class="modal fade"
                                     id="RelevamientoModalEditar-{{ relevamiento.id }}"
                                     tabindex="-1"
                                     aria-labelledby="RelevamientoModalEditarLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="RelevamientoModalEditarLabel">Asignar territorial a relevamiento {{ relevamiento.id }}</h5>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <input type="hidden" name="relevamiento_id" value="{{ relevamiento.id }}" />
                                                        <label for="inputField" class="form-label">Territorial</label>
                                                        <select name="territorial_editar"
                                                                id="update_territorial_select"
                                                                class="form-control">
                                                            <option value="">No definido</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="modal fade"
                         id="RelevamientoModal"
                         tabindex="-1"
                         aria-labelledby="RelevamientoModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="RelevamientoModalLabel">Nuevo relevamiento</h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="inputField" class="form-label">Territorial</label>
                                            <select name="territorial" id="new_territorial_select" class="form-control">
                                                <option value="">No definido</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Observaciones</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body row card-comments p-0 pb-1">
                    <div class="nav nav-pills row col-10 my-3">
                        {% for observacion in observaciones %}
                            <div class="col-2 d-flex">
                                <a href="{% url 'observacion_detalle' comedor.id observacion.id %}">{{ observacion.id }} - {{ observacion.fecha_visita }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-tools col-2 d-flex justify-content-end align-items-start my-3">
                        <a href="{% url 'observacion_crear' comedor.id %}"
                           class="btn btn-primary">Agregar</a>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Imagenes</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body row card-comments p-0 pb-1">
                    <div class="nav nav-pills row col-10 my-3 mx-auto">
                        {% for imagen in imagenes %}
                            <div class="col-2 d-flex">
                                <img src="/media/{{ imagen.imagen }}"
                                     alt="Imagen del comedor"
                                     class="img-fluid my-1 rounded object-fit-contain" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if contactos_duplas_cargados %}
        <div class="row relevamiento-container">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold mr-3 pt-1">Contactos Duplas</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-1">
                        <div class="container m-0 table-responsive">
                            <table class="table table-striped table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Tipo</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                {% for contacto  in contactos_duplas_cargados %}
                                    <tbody>
                                        <td>{{ contacto.fecha |date:'d/m/Y' }}</td>
                                        <td>{{ contacto.usuario | default_if_none:"-" }}</td>
                                        <td>{{ contacto.tipo | default_if_none:"-" }}</td>
                                        <td>{{ contacto.observaciones | default_if_none:"-" }}</td>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- MODAL CONTACTO DUPLA -->
    {% if contacto_dupla %}
        <div class="modal fade"
             id="nuevoContactoDupla"
             tabindex="-1"
             aria-labelledby="nuevoContactoDuplaLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="hidden" id="comedor_id" name="comedor" value="{{ comedor.id }}" />
                        <input type="hidden"
                               id="usuario_id"
                               name="usuario"
                               value="{{ request.user.id }}" />
                        <input type="hidden" name="fecha" value="{% now 'Y-m-d' %}" />
                        <div class="modal-header">
                            <h5 class="modal-title">Contacto Dupla</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row mb-2">
                                <div class="col-sm-2">Comedor:</div>
                                <div class="col-sm-10">{{ comedor.nombre }}</div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-2">Usuario:</div>
                                <div class="col-sm-10">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-2">Fecha:</div>
                                <div class="col-sm-10">{% now "d-m-Y" %}</div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-10">{{ contacto_dupla_form.tipo| as_crispy_field }}</div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-10">{{ contacto_dupla_form.observaciones| as_crispy_field }}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit"
                                    class="btn btn-primary"
                                    name="btnContactoDupla"
                                    id="btnContactoDupla_id">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block customJS %}
    <script>
        const comedorId = "{{ comedor.id }}"
        const GESTIONAR_API_KEY = "{{ GESTIONAR_API_KEY }}";
        const GESTIONAR_API_CREAR_COMEDOR = "{{ GESTIONAR_API_CREAR_COMEDOR }}";
    </script>
    <script src="{% static 'custom/js/comedordetail.js' %}"></script>
{% endblock %}
