{% extends "includes/main.html" %};
{% load static %}
;
{% block title %}Comedor: {{ comedor.nombre }}{% endblock %}
;
{% block titulo-pagina %}
    {{ comedor.nombre }}
    <span class="ml-2 h5">| {{ comedor.provincia__nombre|default_if_none:"-" }}, {{ comedor.municipio__nombre|default_if_none:"-" }}, {{ comedor.localidad__nombre|default_if_none:"-" }}</span>
{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <div class="breadcrumb-item">
            <a href="{% url 'comedores' %}">Comedores</a>
        </div>
        <div class="breadcrumb-item active">{{ comedor.nombre }}</div>
    </ol>
{% endblock %}
;
{% block content %}
    <link rel="stylesheet"
          href="{% static 'custom/css/comedorRelevamiento.css' %}" />
    <div class="row justify-content-between d-print-none mx-1 mb-3">
        <div class="col-auto">
            <a href="{% url 'comedores' %}" class="btn btn-secondary mr-1">Volver</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'comedor_editar' comedor.id %}"
               class="btn btn-primary mr-1">Editar</a>
            <a href="#" class="btn btn-secondary print mr-1 d-none d-sm-inline">Imprimir</a>
            <a href="{% url 'comedor_eliminar' comedor.id %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card card-informacion">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold mr-3 pt-1">Información</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body card-comments p-0 pb-1">
                            <div class="nav nav-pills row my-3">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    <!--Imagen del comedor remplazar por la que corresponda-->
                                                    <img src="{% static 'custom/img/default.png' %}"
                                                         alt="Imagen del comedor"
                                                         class="img-fluid" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Nombre
                                                    <span class="username">{{ comedor.nombre }}</span>
                                                </div>
                                            </div>
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Provincia
                                                    <span class="username">{{ comedor.provincia__nombre|default_if_none:"-" }}</span>
                                                </div>
                                            </div>
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Municipio
                                                    <span class="username">{{ comedor.municipio__nombre|default_if_none:"-" }}</span>
                                                </div>
                                            </div>
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Localidad
                                                    <span class="username">{{ comedor.localidad__nombre|default_if_none:"-" }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Año en el que empezo a funcionar
                                                    <span class="username">{{ comedor.comienzo }}</span>
                                                </div>
                                            </div>
                                            <div class="nav-item d-flex">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Partido
                                                    <span class="username">{{ comedor.partido|default_if_none:"-" }}</span>
                                                </div>
                                            </div>
                                            <div class="nav-item">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Barrio
                                                    <span class="username">{{ comedor.barrio|default_if_none:"-" }}</span>
                                                </div>
                                            </div>
                                            <div class="nav-item">
                                                <div class="comment-text comment-text d-flex flex-column">
                                                    Codigo postal
                                                    <span class="username">{{ comedor.codigo_postal }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="nav-item col-4">
                                                    <div class="comment-text comment-text d-flex flex-column">
                                                        Calle
                                                        <span class="username">{{ comedor.calle }}</span>
                                                    </div>
                                                </div>
                                                <div class="nav-item col-4">
                                                    <div class="comment-text comment-text d-flex flex-column">
                                                        Número
                                                        <span class="username">{{ comedor.numero }}</span>
                                                    </div>
                                                </div>
                                                <div class="nav-item col-4 ">
                                                    <div class="comment-text comment-text d-flex flex-column">
                                                        Entre calles
                                                        <span class="username">{{ comedor.entre_calle_1 | default_if_none:"-" }} y {{ comedor.entre_calle_2 | default_if_none:"-" }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Ubicación</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0" style="height: 400px;">
                    <!-- Define una altura fija -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26285617.576453168!2d-84.86622600167856!3d-36.46496148004889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaf5f5fdc667%3A0x3d2f77992af00fa8!2sArgentina!5e0!3m2!1sen!2sar!4v1714519306937!5m2!1sen!2sar"
                            style="border: 0;
                                   width: 100%;
                                   height: 100%"
                            allowfullscreen=""
                            loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Referente</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body card-comments p-0 pb-1">
                    <div class="nav nav-pills row my-3">
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Nombre completo
                                <span class="username">{{ comedor.referente__nombre }} {{ comedor.referente__apellido }}</span>
                            </div>
                        </div>
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Numero de contacto
                                <span class="username">{{ comedor.referente__celular | default_if_none:"-" }}</span>
                            </div>
                        </div>
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Mail de contacto
                                <span class="username"><a href="mailto:{{ relevamiento.comedor__referente__mail }}">{{ comedor.referente__mail | default_if_none:"-" }}</a></span>
                            </div>
                        </div>
                        <div class="nav-item col-3 d-flex">
                            <div class="comment-text comment-text d-flex flex-column">
                                Documento
                                <span class="username">{{ comedor.referente__documento | default_if_none:"-" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Relevamientos</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body row card-comments p-0 pb-1">
                    <div class="nav nav-pills col-7 row my-3">
                        {% for relevamiento in relevamientos %}
                            <div class="col-12 d-flex">
                                <a href="{% url 'relevamiento_detalle' comedor.id relevamiento.id %}">{{ relevamiento.id }} - {{ relevamiento.fecha_visita }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-tools col-5 d-flex justify-content-end align-items-start my-3">
                        <a href="{% url 'relevamientos' comedor.id %}"
                           class="btn btn-primary mx-3">Ver mas</a>
                        <a href="{% url 'relevamiento_crear' comedor.id %}"
                           class="btn btn-primary">Agregar</a>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row relevamiento-container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold mr-3 pt-1">Observaciones</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body row card-comments p-0 pb-1">
                    <div class="nav nav-pills row col-10 my-3">
                        {% for observacion in observaciones %}
                            <div class="col-2 d-flex">
                                <a href="{% url 'observacion_detalle' comedor.id observacion.id %}">{{ observacion.id }} - {{ observacion.fecha_visita }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-tools col-2 d-flex justify-content-end align-items-start my-3">
                        <a href="{% url 'observacion_crear' comedor.id %}"
                           class="btn btn-primary">Agregar</a>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
