{% extends "includes/main.html" %}
{% load static %}
{% block title %}Acciones{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="" title="Ver listado de admisiones">Admisiones</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{% url 'comedor_detalle' object.id %}" title="Ver ciudadano">{{ object }}</a>
        </li>
        <li class="breadcrumb-item active">Detalle</li>
    </ol>
{% endblock %}
;
{% load crispy_forms_tags %}
{% block content %}
    {% url 'nomina_ver' view.kwargs.pk as nomina_cancel_url %}
    {% include 'components/delete_confirm.html' with object_name=object cancel_url_full=nomina_cancel_url confirm_text='Dar de baja' %}
{% endblock content %}
