{% extends "includes/base.html" %};
{% load static %}
{% block head %}
{% endblock %}

{% block title %}IVIJ{% endblock %};

{% block titulo-pagina %}IVIJ{% endblock %};

{% block breadcrumb %}

{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<div class="embed-responsive embed-responsive-16by9 px-3 text-center">
      <iframe class="embed responsive-item  text-center" style="width:85%; backgroundColor:#454d55"src="https://app.powerbi.com/view?r=eyJrIjoiODMwMmFiNzItNmQwOS00NDczLTgxYjItMzAxYjJlYjRjNmY5IiwidCI6IjIzNzc0NzJlLTgwMDQtNDY0OC04NDU2LWJkOTY4N2FmYTE1MCIsImMiOjR9"></iframe>
</div>
{% endblock %}
{% block customJS %}

{% endblock %}