repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args: ["--rcfile=.pylintrc", "--ignore=migrations"]
    