services:

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      DOCKER_MYSQL_PORT: ${DOCKER_MYSQL_PORT}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/local-dump.sql:/docker-entrypoint-initdb.d/local-dump.sql
    ports:
      - ${DOCKER_MYSQL_PORT_FORWARD}:${DOCKER_MYSQL_PORT}
    expose:
      - ${DOCKER_MYSQL_PORT}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-P", "${DOCKER_MYSQL_PORT}"]
      interval: 10s
      timeout: 10s
      retries: 5

  django:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    environment:
      TZ: America/Argentina/Buenos_Aires
      DATABASE_HOST: ${DATABASE_HOST:-mysql}
      DATABASE_PORT: ${DATABASE_PORT:-3306}
      DATABASE_USER: ${DATABASE_USER:-root}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-root1-password2}
      DATABASE_NAME: ${DATABASE_NAME:-sisoc-local}
      DW_DATABASE_HOST: ${DW_DATABASE_HOST:-mysql}
      DW_DATABASE_PORT: ${DW_DATABASE_PORT:-3306}
      DW_DATABASE_USER: ${DW_DATABASE_USER:-}
      DW_DATABASE_PASSWORD: ${DW_DATABASE_PASSWORD:-}
      DW_DATABASE_NAME: ${DW_DATABASE_NAME:-DW_sisoc}
      WAIT_FOR_DB: ${WAIT_FOR_DB:-true}
    env_file:
      - .env
    ports:
      - ${DOCKER_DJANGO_PORT_FORWARD}:${DOCKER_DJANGO_PORT}
      - ${DOCKER_DEBUGGER_PORT_FORWARD}:${DOCKER_DEBUGGER_PORT}
    volumes:
      - .:/sisoc/
    user: "${RUN_UID:-0}:${RUN_GID:-0}"
    restart: always

volumes:
  mysql_data:
