services:

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root1-password2
      MYSQL_DATABASE: sisoc-local
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/local-dump.sql:/docker-entrypoint-initdb.d/local-dump.sql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 10s
      retries: 5

  django:
    build: 
      context: .
      dockerfile: ./docker/django/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      mysql:
        condition: service_healthy
    restart: always

volumes:
  mysql_data:
