{% extends "includes/main.html" %}
{% load static %}
{% block title %}Rendiciones{% endblock %}
{% block breadcrumb %}
    {% include 'components/breadcrumb.html' with items=breadcrumb_items %}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'custom/css/listModerno.css' %}" />
    <div class="comedor-list-container">
        {% include 'components/search_bar.html' with titulo="Buscar Rendiciones" reset_url=reset_url filters_mode=filters_mode filters_action=filters_action filters_config=filters_config filters_js=filters_js seccion_filtros_favoritos=seccion_filtros_favoritos export_url=export_url %}
        <div class="row mt-5 max-width-100">
            <div class="col-12">
                <div class="card comedor-table-card">
                    <div class="card-body">
                        {% include "components/column_config_modal.html" %}
                        <div class="table-responsive-lg">
                            <table class="table table-comedor-moderno">
                                <thead>
                                    <tr>
                                        {% for header in table_headers %}<th>{{ header.title }}</th>{% endfor %}
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rendicion in rendiciones_cuentas_mensuales %}
                                        <tr>
                                            {% for column_key in active_columns %}
                                                {% include "components/rendicion_global_list_cell.html" %}
                                            {% endfor %}
                                            <td>
                                                <div class="comedor-actions">
                                                    <a href="{% url 'rendicioncuentasmensual_detail' rendicion.id %}"
                                                       class="btn btn-ver"
                                                       title="Ver detalle">
                                                        <i class="fas fa-eye"></i>
                                                        Ver
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="{{ active_columns|length|add:1 }}">No hay rendiciones registradas.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/pagination.html' with is_paginated=is_paginated page_obj=page_obj prev_text='Volver' next_text='Continuar' %}
    </div>
{% endblock %}
{% block customJS %}
    <script src="{% static 'custom/js/column_config.js' %}"></script>
    <script src="{% static 'custom/js/export_helper.js' %}"></script>
{% endblock %}
