{% extends "includes/base.html" %};
{% load static %}
;
{% block head %}{% endblock %}
{% block title %}Acciones{% endblock %}
;
{% block titulo-pagina %}Acciones{% endblock %}
;
{% block menu-adicional %}{% endblock %}
;
{% block content %}
    <div class="row d-flex justify-content-between my-3 mx-sm-2">
        <div class="col-12 col-sm-3 ">
            <a class="btn btn-primary mb-2 mb-sm-0 d-block d-sm-inline"
               href="{% url 'acciones_crear' %}">Agregar</a>
        </div>
        <div class="col-12 col-sm-3 ">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="search"
                           class="form-control form-control-md"
                           placeholder="Buscar"
                           value='{{ request.GET.busqueda }}'
                           name='busqueda' />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-md btn-default ">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <div class="card">
                <div class="card-body ">
                    <table class="table table-bordered table-striped projects tabladt">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dimensión</th>
                                <th>Observaciones</th>
                                <th style="width: 15%" class="notexport">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in object_list %}
                                <tr>
                                    <td class="font-weight-bold ">
                                        <a href="{% url 'acciones_ver' o.id %}">{{ o.nombre }}</a>
                                    </td>
                                    <td>{{ o.dimension }}</td>
                                    <td>{{ o.observaciones |default_if_none:"-"|truncatechars:100 }}</td>
                                    <td class="project-actions text-right">
                                        <div class="btn-group" role="group">
                                            <a href="{% url 'acciones_ver' o.id %}"
                                               class="btn btn-primary btn-sm ver">Ver</a>
                                            <a href="{% url 'acciones_editar' o.id %}"
                                               class="btn btn-primary btn-sm editar">Editar</a>
                                            <a href="{% url 'acciones_eliminar' o.id %}"
                                               class="btn btn-danger btn-sm eliminar">Eliminar</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block customJS %}
    <script src="{% static 'custom/js/Configuraciones.js' %}"></script>
{% endblock %}
