{% extends "includes/base.html" %}
{% load static %}
{% block title %}Criterios de vulneravilidad{% endblock %}
;
{% block titulo-pagina %}Criterios de vulneravilidad{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right ">
        <li class="breadcrumb-item">Configuraciones</li>
        <li class="breadcrumb-item">
            <a href="{% url 'criterios_listar' %}">Criterio</a>
        </li>
    </ol>
{% endblock %}
;
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center mb-5">
                <div class="col">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Detalle de criterio</h3>
                        </div>
                        <div class="card-body mt-3">
                            <div class="justify-content-center ">
                                <div class="row mb-3">
                                    <div class="col-sm-6 text-sm-right">Nombre</div>
                                    <div class="col-sm-6 font-weight-bold">{{ object.nombre }}</div>
                                    <div class="col-sm-6 text-sm-right">Dimensión</div>
                                    <div class="col-sm-6 font-weight-bold">{{ object.dimension }}</div>
                                    <div class="col-sm-6 text-sm-right">Sujeto:</div>
                                    <div class="col-sm-6 font-weight-bold">{{ object.fk_sujeto }}</div>
                                    <div class="col-sm-6 text-sm-right">Acciones que genera</div>
                                    <div class="col-sm-6 font-weight-bold">
                                        <ul class="list-unstyled">
                                            {% for a in object.m2m_acciones.all %}
                                                <li class="">{{ a.nombre }}</li>
                                            {% empty %}
                                                <li>
                                                    <span class="font-weight-bold">-</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 text-sm-right">Alertas que genera</div>
                                    <div class="col-sm-6 font-weight-bold">
                                        <ul class="list-unstyled">
                                            {% for a in object.m2m_alertas.all %}
                                                <li class="">{{ a }}</li>
                                            {% empty %}
                                                <li>
                                                    <span class="font-weight-bold">-</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 text-sm-right">Observaciones</div>
                                    <div class="col-sm-6 font-weight-bold">{{ object.observaciones|default_if_none:"-" }}</div>
                                    <div class="col-sm-6 text-sm-right">Estado</div>
                                    <div class="col-sm-6 font-weight-bold">
                                        {% if object.estado %}
                                            <span class="text-success font-weight-bold">Activo</span>
                                        {% else %}
                                            <span class="text-danger font-weight-bold">Inactivo</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row text-center mt-5">
                                    <div class="col-sm-12">
                                        {% if perms.Usuarios.rol_admin %}
                                            <a href="{% url 'criterios_eliminar' object.id %}">
                                                <button type="" class="btn btn-secondary">Eliminar</button>
                                            </a>
                                            <a href="{% url 'criterios_editar' object.id %}">
                                                <button type="submit" class="btn btn-primary">Editar</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block customJS %}{% endblock %}
