{% extends "includes/base.html" %};
{% load static %};

{% block head %}
{% endblock %}

{% block title %}Planes sociales{% endblock %};

{% block titulo-pagina %}Planes sociales{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<div class="row d-flex justify-content-between my-3 mx-sm-2">
  <div class="col-12 col-sm-3 ">
    {%if perms.Usuarios.rol_admin%}
    <a class="btn btn-primary mb-2 mb-sm-0 d-block d-sm-inline" href="{% url 'planes_sociales_crear'%}">Agregar</a>
    {%endif%}
  </div>
  {% comment %} <div class="col-12 col-sm-3 ">
    <form action="" method="GET">
      <div class="input-group">
        <input type="search" class="form-control form-control-md" placeholder="Buscar"
        value='{{ request.GET.busqueda }}' name='busqueda'>
        <div class="input-group-append">
          <button type="submit" class="btn btn-md btn-default ">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div> {% endcomment %}
</div>


<div class="row ">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered table-striped projects {%if perms.Usuarios.rol_admin or perms.Usuarios.rol_consultante %} tabladt {%endif%}">
          <thead>
            <tr>
              <th>Nombre</th>
              <th >Jurisdicción</th>
              <th>Estado</th>
              <th style="width: 15%" class="notexport">
              </th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
            <tr>
              <td><span class="font-weight-bold  {% if o.estado  %} text-success{% else %} text-danger {% endif %}"><a href="{% url 'planes_sociales_ver' o.id %}">{{o.nombre}}</a></span></td>
              <td > {{o.jurisdiccion |default_if_none:"-" }}</td>
              <td>
                {% if o.estado  %}
                <span class="text-success font-weight-bold">Activo</span>
                {% else %}
                <span class="text-danger font-weight-bold">Inactivo</span>
                {% endif %}
              </td>
              <td class="project-actions text-right">
                {%if perms.Usuarios.rol_admin%} 
                <div class="btn-group" role="group">
                  <a href="{% url 'planes_sociales_ver' o.id %}" class="btn btn-primary btn-sm ver">Ver</a> 
                  <a href="{% url 'planes_sociales_editar' o.id %}" class="btn btn-primary btn-sm editar">Editar</a>
                  <a href="{% url 'planes_sociales_eliminar' o.id %}" class="btn btn-danger btn-sm eliminar">Eliminar</a>
                  </div>
                  {%endif%}
              </td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
      
      </div>
      
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>


{% endblock content %}

{% block customJS %}
<script>




</script>
{% endblock %}