{% extends "includes/main.html" %} {% load crispy_forms_tags %} {% load static
%} {% block title %}Nueva Actividad{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'custom/css/duplasSelect2.min.css' %}" />
{% endblock %} {% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item">
    <a href="{% url 'actividadcentro_list' %}">Actividades</a>
  </li>
  <li class="breadcrumb-item active">Nueva</li>
</ol>
{% endblock %} {% block content %} {% include
'components/forms/form_header_buttons.html' with back_url='centro_detail'
back_id=centro_id show_cancel=True cancel_url='centro_detail'
cancel_id=centro_id %}
<div class="container">
  <h2 class="text-center display-4 mb-4">Nueva Actividad</h2>
  <form method="post" novalidate>
    {% csrf_token %} {{ form|crispy }} {% include
    'components/forms/form_buttons.html' with submit_label="Guardar"
    cancel_url='centro_detail' cancel_id=centro_id button_layout='center' %}
  </form>
</div>
{% endblock %} {% block customJS %}
<script src="{% static 'custom/js/centro_familia_categoria.js' %}"></script>
<!-- CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr(".timepicker", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
  });
</script>
{% endblock %}
