{% extends "includes/main.html" %}
{% load static %}
{% block title %}Nueva Actividad{% endblock %}
{% block content %}
    {% include 'components/forms/form_header_buttons.html' with back_url='centro_list' show_cancel=True cancel_url='centro_list' %}
    <div class="container-fluid no-gutters">
        <div class="card bg-dark text-white mb-4">
            <div class="card-header bg-secondary">Nueva Actividad</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <label class="form-label text-white">{{ form.categoria.label }}</label>
                        {{ form.categoria }}
                        {{ form.categoria.errors }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">{{ form.nombre.label }}</label>
                        {{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>
                    {% include 'components/forms/form_buttons.html' with submit_label="Guardar" cancel_url='centro_list' button_layout='left' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
