{% extends "includes/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Centro{% endblock %}
{% block breadcrumb %}
    {% include 'components/breadcrumb.html' with items=breadcrumb_items %}
{% endblock %}
{% block content %}
    {% include 'components/alert_message.html' with show_django_messages=True %}
    {% include 'components/form_card.html' with title=page_title form=form cancel_url=cancel_url submit_text=submit_text %}
{% endblock %}
{% block customJS %}
    <script>
        var ajaxLoadMunicipiosUrl = "{% url 'ajax_load_municipios' %}";
        var ajaxLoadLocalidadesUrl = "{% url 'ajax_load_localidades' %}";
    </script>
    <script src="{% static 'custom/js/centro_form.js' %}"></script>
{% endblock %}
