{% load static %}
<aside class="app-sidebar bg-body-secondary shadow">
    <div class="sidebar-brand">
        <a href="{% url 'dashboard' %}" class="brand-link">
            <img src="{% static 'custom/img/sisoc_logo.png' %}"
                 alt="SISOC"
                 class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">Sistema Social</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false">
                {% include 'includes/sidebar/opciones.html' %}
                {% block menu-adicional %}{% endblock %}
            </ul>
        </nav>
    </div>
</aside>
