{% load static %}
<aside class="app-sidebar bg-body-secondary shadow">
    <div class="sidebar-brand">
        <a href="{% url 'dashboard' %}" class="brand-link">
            <img src="{% static 'custom/img/sisoc_logo.png' %}"
                 alt="SISOC"
                 class="brand-image opacity-75 shadow" />
            <span class="brand-text">SiSOC</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <!-- Campo de búsqueda -->
        <div class="form-inline mt-2 mb-3 mx-3">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" 
                       type="search" 
                       placeholder="Buscar" 
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false">
                {% include 'includes/sidebar/opciones.html' %}
                {% block menu-adicional %}{% endblock %}
            </ul>
        </nav>
    </div>
</aside>
