{% load static %}
<aside class="app-sidebar shadow">
    <div class="sidebar-brand">
        <a href="{% url 'dashboard' %}" class="brand-link">
            <img src="{% static 'custom/img/presidencia.png' %}"
                 alt="SISOC"
                 class="brand-image mt-1" />
            <span class="brand-text fw-bold pt-2">SiSOC</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="sidebar-search p-2 py-3 border-bottom sidebar-user-name">
            <div class="input-group ">
                <input class="form-control form-control-sidebar form-control-sm"
                       type="search"
                       placeholder="Buscar..."
                       aria-label="Buscar" />
                <button class="btn btn-outline-secondary btn-sm" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false">
                {% include 'includes/sidebar/new_opciones.html' %}
                {% block menu-adicional %}{% endblock %}
            </ul>
        </nav>
    </div>
</aside>
