.bg-card {
    background-color: #50b7b2;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.bg-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.info-card h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.info-card p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.info-card i {
    color: #ffffff;
    margin-bottom: 10px;
}

.info-card .row.info-card-label {
    margin: 0 -15px -15px;
    background-color:#45928e;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 1366px) and (min-width: 1025px) {
    .info-card {
      min-height:111px;
    }
    .info-card-label {
        min-height: 55px;
    }
  }

  .min-width-100 {
    min-width: 100%;
  }