/* Custom para relevamiento_detail */
.relevamiento-container .card, .comedor-form .card{
    min-height: 95% !important;
    margin-bottom:1rem;
}

/* Custom para comedores_detail */

.card-informacion .nav-item
{
    margin-bottom: 1rem !important;
}
  
.card .card-body{
    margin-left: 1rem; 
}

.mb-3 {
    margin-bottom: 1rem !important;
}