/* correccion de el fondo claro de los inputs cuando esta en modo oscuro */
.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:active,
.dark-mode input:-internal-autofill-selected,
.dark-mode input:-internal-autofill-previewed {
  background-color: None !important;
  -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
}

input:-internal-autofill-selected {
  box-shadow: none !important;
}

.dark-mode .form-control:focus {
  background-color: #343a40 !important;
}

.dark-mode .dropdown-item {
  color: black
}

.popovers/
.popover,
.popover-arrow,
.popover-content,
.popover-title {
  background: #454d55;
}

.carousel-image {
  /* Ajusta el tamaño de las imagenes del carousel para mostrarlas cuadradas */
  width: 300px;
  height: 300px;
  object-fit: cover;
}


.callout.callout-danger {
  color: #fb4733;
}
.dark-mode .callout.callout-danger {
border-left-color: #fb4733 !important;
}

.badge-alertas {
  color: #fff;
  background-color: #fb4733;
}

.badge-Critica {
  color: #fff;
  background-color: #fb4733;
}
.badge-Importante {
  color: #000000;
  background-color: #eca20f;
}
.badge-Precaución {
  color: #000000;
  background-color: #eee246;
}

.callout.callout-Importante {
  color: #eca20f;
  border-left-color: #eca20f;
}
.callout.callout-Precaución {
  border-left-color: #eee246;
  color: #eee246;
}

.badge-Critica {
  color: #fff;
  background-color: #fb4733;
}
.badge-Importante {
  color: #000000;
  background-color: #eca20f;
}
.badge-Precaución {
  color: #000000;
  background-color: #eee246;
}
.callout.callout-Critica {
  color: #fb4733;
  border-left-color: #fb4733;
}
.callout.callout-Importante {
  color: #eca20f;
  border-left-color: #eca20f;
}
.callout.callout-Precaución {
  border-left-color: #eee246;
  color: #eee246;
}


/* PARA PROYECTO SISTEMA SOCIAL */

.dark-mode {
  background-color: #2a4160 !important;
  color: #fff;
}

.login-page, .register-page {
  background-color: #2a4160 !important;
}

.navbar-dark {
  background-color: #2a4160 !important;
  border-color: #21283a !important;
}

[class*="sidebar-dark-"] {
  background-color: #2a4160 !important;
}

.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
  background-color: #2a4160 !important;
}
.dark-mode .content-wrapper {
  background-color: rgb(42 59 82) !important;
}


/* Custom para grupofamiliar_form */
.table-responsive #tabla th{
  max-width: 120px !important;
}


