/* Contenedor general */
 body {
    margin: 0;
    height: 100vh;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
    color: #1d274184;
}

.login-container {
    display: flex;
    flex: 1;
}

/* Caja del formulario */
.login-box {
    text-align: center;
    width: 80%;
}

h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}




input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #6b7cff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

footer {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 2rem;
        font-family: 'Montserrat', sans-serif;
}

header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer.app-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.card {
    padding: 2rem 3rem;
    background-color:#FFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card p {
    margin: 0 -3rem;
}

.icon-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
}

.input-group .input-group-text, .input-group .form-control {
    border: 2px solid #828282;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.input-group-text, 
.form-control {
  height: 40px;       /* Ajustá según lo que necesites */
  line-height: 1.5;   /* Para centrar el texto verticalmente */
  padding: 0.375rem;
}

.form-control, .form-control:focus {
    background-color: #FFF;
    color:  #828282;
}

.input-group-text {
    background-color: #828282;
}

.btn-primary {
    background-color: #3E5A7E;
    border: none;
}

.card a {
    color: #828282;
    text-decoration: none !important;
}

.card p {
    color: #828282;
}