/* Footer personalizado */
.app-wrapper .app-footer,
footer.app-footer {
    position: sticky;
    width: 100%;
    height: 136px !important;
    background-color: #232d4f !important;
    border-top: 15px solid #e7ba61 !important;
    color: #ffffff !important;
    margin-top: auto;
    z-index: 3000 !important;
    display: flex;
}

.app-sidebar {
    background-color: #232d4f !important;
    position: fixed;
    top: 72px !important;
    z-index: 1040; /* Menor que header pero mayor que contenido */
}

.app-sidebar .sidebar-wrapper {
    overflow-y: auto;
    height: 100%;
}

.app-main {
    margin-top: 96px;
    min-height: calc(100vh - 182px); 
    margin-left: 0;
}

.main-header {
    padding: 0rem 1rem;
    z-index: 1050; /* Mayor que Select2 dropdown para evitar superposición */
}

.main-header .nav-links {
    display: flex;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
    align-items: center;
}

.main-header .brand-image {
    max-height: 40px;
}

.main-header .nav-links>.nav-item {
    padding-top: 10px;
}

.main-header .nav-link.nav-link-rounded {
    background-color: #EDEDED;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: block;
}

.main-header .nav-link.nav-link-rounded img {
    height: 24px;
    width: 24px;
    margin: 8px;
}

footer {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 2rem;
        font-family: 'Montserrat', sans-serif;
}

header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #232d4f !important;
    border-bottom: 5px solid #e7ba61 !important;
    color: #ffffff !important;
}


@media (min-width: 992px) {
    .sidebar-expand-lg.layout-fixed .app-sidebar {
        position: fixed;
        top: 76px !important;
    }

    .nav-item {
        overflow-x: hidden !important;
    }

    .app-main {
        margin-left: 300px;
    }
}

body.sidebar-collapse .app-main {
    margin-left: 0;
}

.sidebar-expand-lg.layout-fixed .app-sidebar .sidebar-wrapper {
        height: calc(100vh - 200px);
        overflow-x: hidden !important;
    }

.sidebar-wrapper .sidebar-menu > .nav-item > .nav-link.active:not(:hover) {
    color: #e7ba61;
}


.nav-main-item>a {
    border-top: 1px solid var(--lte-sidebar-color);
    padding: 8px 24px;
}

.nav-main-item.menu-open>a {
    border-top: none;
    border-bottom: none;
}

ul > .nav-main-item:first-child>a {
    border-top: none;
}

.nav-main-item:last-child {
    border-bottom: 1px solid var(--lte-sidebar-color);
}

.nav-main-item.menu-open::before {
    content: "";
    position: absolute;
    border-left: 12px solid #e7ba61;
    height: 60px;
    width: 12px;
}

.nav-item.menu-open > .nav-link {
    color: #e7ba61 !important;
}

.nav-item {
    min-height: 60px;
}

.nav-item .nav-link {
    height: 60px;
}

.nav-item.menu-open > .nav-link img {
    filter: invert(67%) sepia(54%) saturate(559%) hue-rotate(340deg) brightness(230%) contrast(50%);
}

.sidebar-menu .nav-link {
    border-radius: 0px;
}

.sidebar-menu .nav-item > .nav-link {
    margin-bottom: 0;
}

ul:has(.nav-main-item) {
    margin-left: -16px;
    margin-right: -16px;
}

aside .nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

aside .nav-link i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; 
}

aside .nav-link p {
  margin: 0; 
  line-height: 1;
}

.sidebar-wrapper div:nth-child(2) {
    overflow-x: hidden !important;
}

.max-width-100 {
    max-width: 100%;
}

.btn-warning {
    background-color: #e7ba61;
    border-color: #e7ba61;
}

.btn-outline-warning:hover {
    background-color: #e7ba61;
    border-color: #e7ba61;
}

/* 
