/*------------------------------------
 - COLOR info Adicionales
 ------------------------------------*/

 .card-info:not(.card-outline) > .card-header {
  background-color: #605ca8;
}
.card-info.card-outline {
  border-top: 3px solid #605ca8;
}

.card-info:not(.card-outline) > .card-header {
  background-color: #605ca8;
}

.dark-mode .card-info:not(.card-outline) > .card-header {
  background-color: #605ca8;
}
.dark-mode .btn-info {
  color: rgb(14, 32, 51);
  background-color: #605ca8;
  border-color: #605ca8;
  box-shadow: none;
}



/*------------------------------------
 - COLOR info
 ------------------------------------*/
.alert-info {
  color: #322f59;
  background-color: #e1e1ee;
  border-color: #d4d3e7;
}
.alert-info hr {
  border-top-color: #c4c3df;
}
.alert-info .alert-link {
  color: #1f1e38;
}
.badge-info {
  color: #fff;
  background-color: #605ca8;
}
.badge-info[href]:hover, .badge-info[href]:focus {
  color: #fff;
  background-color: #4c4888;
}
.bg-info {
  background-color: #605ca8 !important;
}
a.bg-info:hover, a.bg-info:focus, button.bg-info:hover, button.bg-info:focus {
  background-color: #4c4888 !important;
}
.border-info {
  border-color: #605ca8 !important;
}
.btn-info {
  color: #fff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.btn-info:hover {
  color: #fff;
  background-color: #514e92;
  border-color: #4c4888;
}
.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 92, 168, 0.5);
}
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #4c4888;
  border-color: #46437e;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 92, 168, 0.5);
}
.btn-outline-info {
  color: #605ca8;
  background-color: transparent;
  border-color: #605ca8;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 92, 168, 0.5);
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #605ca8;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 92, 168, 0.5);
}
.list-group-item-info {
  color: #322f59;
  background-color: #d4d3e7;
}
.list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
  color: #322f59;
  background-color: #c4c3df;
}
.list-group-item-info.list-group-item-action.active {
  color: #fff;
  background-color: #322f59;
  border-color: #322f59;
}
.table-info, .table-info > th, .table-info > td {
  background-color: #d4d3e7;
}
.table-hover .table-info:hover {
  background-color: #c4c3df;
}
.table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
  background-color: #c4c3df;
}
.text-info {
  color: #605ca8 !important;
}
a.text-info:hover, a.text-info:focus {
  color: #4c4888 !important;
}

