.hide
{
    display: none !important;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-logo {
    max-height: 75px;
    width: auto;
    margin-bottom: 8px;
}
