/*------------------------------------
 - COLOR primary Adicionales
 ------------------------------------*/

.card-primary:not(.card-outline)>.card-header {
  background-color: #3f6791;
}

.card-primary.card-outline {
  border-top: 3px solid #3c8dbc;
}

.card-primary:not(.card-outline)>.card-header {
  background-color: #3c8dbc;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #3c8dbc;
}

.dark-mode .card-primary:not(.card-outline)>.card-header {
  background-color: #3c8dbc;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #3c8dbc;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #3c8dbc;
  color: #fff;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

a {
  color: #3c8dbc;
  text-decoration: none;
  background-color: transparent;
}

.dark-mode a {
  color: #669ebe;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #3c8dbc;
  text-decoration: none;
}

input:checked {
  color: #3c8dbc;
}

.bs-stepper .step-trigger:focus {
  color: #3c8dbc;
  outline: none;
}

.active .bs-stepper-circle {
  background-color: #3c8dbc;
}

.dark-mode .bs-stepper .line {
  -ms-flex: 1 0 32px;
  flex: 1 0 32px;
  min-width: 1px;
  min-height: 1px;
  margin: auto;
  background-color: #6c757d;
}

/*------------------------------------
 - COLOR primary
 ------------------------------------*/
.alert-primary {
  color: #1e475f;
  background-color: #d3e5f0;
  border-color: #c3ddec;
}

.alert-primary hr {
  border-top-color: #b0d2e5;
}

.alert-primary .alert-link {
  color: #122a38;
}

.badge-primary {
  color: #fff;
  background-color: #3c8dbc;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
  color: #fff;
  background-color: #2f7095;
}

.bg-primary {
  background-color: #3c8dbc !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #2f7095 !important;
}

.border-primary {
  border-color: #3c8dbc !important;
}

.btn-primary {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3378a0;
  border-color: #2f7095;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2f7095;
  border-color: #2b6789;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, 0.5);
}

.btn-outline-primary {
  color: #3c8dbc;
  background-color: transparent;
  border-color: #3c8dbc;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #3c8dbc;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, 0.5);
}

.list-group-item-primary {
  color: #1e475f;
  background-color: #c3ddec;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
  color: #1e475f;
  background-color: #b0d2e5;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #1e475f;
  border-color: #1e475f;
}

.table-primary,
.table-primary>th,
.table-primary>td {
  background-color: #c3ddec;
}

.table-hover .table-primary:hover {
  background-color: #b0d2e5;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
  background-color: #b0d2e5;
}

.text-primary {
  color: #3c8dbc !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #2f7095 !important;
}