{% extends "includes/main.html" %};
{% load static %}
;
{% block head %}{% endblock %}
{% block title %}Usuarios{% endblock %}
;
{% block titulo-pagina %}Usuarios{% endblock %}
;
{% block menu-adicional %}{% endblock %}
;
{% block content %}
<a href="{% url 'usuario_crear' %}">Crear Usuario</a>
<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
            <a href="{% url 'usuario_editar' user.pk %}">Editar</a>
            <a href="{% url 'usuario_borrar' user.pk %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
{% block customJS %}{% endblock %}
