{% extends "includes/base.html" %};
{% load static %};

{% block head %}

{% endblock %}

{% block title %}Legajos Provincias{% endblock %};

{% block titulo-pagina %}{% endblock %};

{% block menu-adicional %}
{% endblock %};
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
        <a href="{% url 'legajosprovincias_listar' %}">Legajos Provincias</a>
    </li>
    <li class="breadcrumb-item active">Listar</li>
</ol>
{% endblock %};
{% block content %}

{% endblock content %}

{% block customJS %}
{% endblock %}