{% extends "includes/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load static custom_filters %}
{% load admisiones_tags %}
;
{% block title %}Expediente: {{ admision.num_expediente }}{% endblock %}
;
{% block titulo-pagina %}
    {{ admision.num_expediente }} -
    {% if admision.enviada_a_archivo %}
        <span class="fs-5 bg-danger text-white">Rechazado: {{ admision.get_rechazo_juridicos_motivo_display }} / Enviado a Archivo</span>
    {% else %}
        {{ admision.estado_legales|default_if_none:"Estado a definir" }}
    {% endif %}
{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <div class="breadcrumb-item">
            <a href="{% url 'admisiones_legales_listar' %}">Expedientes</a>
        </div>
        <div class="breadcrumb-item active">{{ admision.num_expediente }}</div>
    </ol>
{% endblock %}
;
{% block content %}
    <div class="row justify-content-between d-print-none mx-1 mb-3">
        <div class="col-auto">
            <a href="{% url 'admisiones_legales_listar' %}"
               class="btn btn-secondary mr-1">Volver</a>
        </div>
        <div class="col-auto">
            {% for boton in botones_disponibles %}
                {% render_boton_legales boton admision %}
            {% endfor %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <div class="card card-primary card-outline h-100">
                <div class="card-header">
                    <h2 class="card-title fw-bold fs-3">Expediente</h2>
                </div>
                <div class="card-body card-comments">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <div class="comment-text">
                                Estado expediente:
                                <span class="fw-bold">{{ admision.estado_legales|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Número de expediente:
                                <span class="fw-bold">{{ admision.legales_num_if|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Formulario Proyecto de Convenio:
                                {% if formulario_proyecto_completo %}
                                    {% if formulario_proyecto.archivo %}
                                        <a href="{{ formulario_proyecto.archivo.url }}" target="_blank">
                                            <i class="bi bi-filetype-pdf text-info h5 mx-2 text-bold"></i>
                                        </a>
                                    {% endif %}
                                    {% if formulario_proyecto.archivo_docx %}
                                        <a href="{{ formulario_proyecto.archivo_docx.url }}" target="_blank">
                                            <i class="bi bi-filetype-docx text-info h5 mx-2 text-bold"></i>
                                        </a>
                                    {% endif %}
                                    {% if formulario_proyecto.numero_if %}
                                        <br />
                                        {{ formulario_proyecto.numero_if }}
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                        <i class="bi bi-exclamation-circle-fill text-warning"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Formulario Proyecto Disposición:
                                {% if formulario_reso_completo %}
                                    <a href="{{ formulario_reso.archivo.url }}" target="_blank">
                                        <i class="bi bi-filetype-pdf text-info h5 mx-2 text-bold"></i>
                                    </a>
                                    {% if formulario_reso.archivo_docx %}
                                        <a href="{{ formulario_reso.archivo_docx.url }}" target="_blank">
                                            <i class="bi bi-filetype-docx text-info h5 mx-2 text-bold"></i>
                                        </a>
                                    {% endif %}
                                    {% if formulario_reso.numero_if %}
                                        <br />
                                        {{ formulario_reso.numero_if }}
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                        <i class="bi bi-exclamation-circle-fill text-warning"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Intervención Juridicos:
                                {% if admision.intervencion_juridicos %}
                                    <span class="fw-bold">{{ admision.get_intervencion_juridicos_display }}</span>
                                    {% if admision.intervencion_juridicos == "rechazado" %}
                                        - <span class="fw-bold">{{ admision.get_rechazo_juridicos_motivo_display }}</span>
                                    {% endif %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                {% endif %}
                            </div>
                        </li>
                        {% if admision.dictamen_motivo %}
                            <li class="nav-item">
                                <div class="comment-text">
                                    Motivo Dictamen:
                                    <span class="fw-bold">{{ admision.get_dictamen_motivo_display }}</span>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <div class="comment-text">
                                    Informe SGA:
                                    {% if admision.informe_sga %}
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle-fill text-danger"></i>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    Convenio:
                                    {% if admision.numero_convenio %}
                                        <a href="{{ admision.archivo_convenio.url }}" target="_blank">
                                            <i class="bi bi-file-earmark-check text-info h5 mx-2 text-bold"></i>
                                        </a>
                                        <span class="fw-bold">{{ admision.numero_convenio }}</span>
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle-fill text-danger"></i>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    Disposición:
                                    {% if admision.numero_disposicion %}
                                        <a href="{{ admision.archivo_disposicion.url }}" target="_blank">
                                            <i class="bi bi-file-earmark-check text-info h5 mx-2 text-bold"></i>
                                        </a>
                                        <span class="fw-bold">{{ admision.numero_disposicion }}</span>
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle-fill text-danger"></i>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-primary card-outline h-100">
                <div class="card-header">
                    <h2 class="card-title fw-bold fs-3">Admisión</h2>
                </div>
                <div class="card-body card-comments">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <div class="comment-text">
                                Tipo Convenio:
                                <span class="fw-bold">{{ admision.tipo_convenio.nombre|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Estado:
                                <span class="fw-bold">{{ admision.estado.nombre|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Fecha:
                                <span class="fw-bold">{{ admision.creado|date:'d/m/Y' }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Fecha de vencimiento de mandatos:
                                <span class="fw-bold">
                                    {% if informe and informe.fecha_vencimiento_mandatos %}
                                        {{ informe.fecha_vencimiento_mandatos|date:'d/m/Y' }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Número de Expediente:
                                <span class="fw-bold">{{ admision.num_expediente|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        {% if pdf_url %}
                            <li class="nav-item">
                                <div class="comment-text">
                                    Informe Técnico:
                                    <a href="{{ pdf_url }}" target="_blank"><i class="bi bi-filetype-pdf text-info h4 ms-3 text-bold"></i></a>
                                </div>
                            </li>
                        {% endif %}
                        {% if informes_complementarios %}
                            <li class="nav-item">
                                <div class="comment-text">
                                    Informes Complementarios:
                                    {% for i in informes_complementarios %}
                                        {% if i.pdf %}
                                            <span class="fw-bold"><a href="{{ i.pdf.url }}" target="_blank"><i class="bi bi-filetype-pdf text-info h4 ms-3 text-bold"></i>{{ i.creado|date:'d/m/Y' }} ({{ i.get_estado_display }})</a></span>
                                            <br />
                                        {% else %}
                                            <span class="fw-bold">{{ i.creado|date:'d/m/Y' }} - {{ i.get_estado_display }}</span>
                                            <br />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                        {% if pdf_complementario_final %}
                            <li class="nav-item">
                                <div class="comment-text">
                                    Informe Técnico Complementario Final:
                                    <a href="{{ pdf_complementario_final.archivo.url }}" target="_blank">
                                        <i class="bi bi-filetype-pdf text-success h4 ms-3 text-bold"></i>
                                    </a>
                                    {% if pdf_complementario_final.archivo_docx %}
                                        <a href="{{ pdf_complementario_final.archivo_docx.url }}"
                                           target="_blank">
                                            <i class="bi bi-filetype-docx text-success h4 ms-3 text-bold"></i>
                                        </a>
                                    {% endif %}
                                    {% if pdf_complementario_final.numero_if %}
                                        <br />
                                        IF: {{ pdf_complementario_final.numero_if }}
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h2 class="card-title fw-bold fs-3">Comedor</h2>
                </div>
                <div class="card-body card-comments p-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <div class="comment-text">
                                Nombre:
                                <a href="{% url 'comedor_detalle' admision.comedor.id %}"><span class="fw-bold">{{ admision.comedor.nombre }}</span></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Tipo Comedor:
                                <span class="fw-bold">{{ admision.comedor.tipocomedor|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Programa:
                                <span class="fw-bold">{{ admision.comedor.programa|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Organización:
                                <span class="fw-bold">{{ admision.comedor.organizacion|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Provincia:
                                <span class="fw-bold">{{ admision.comedor.provincia|default_if_none:"-" }} - {{ admision.comedor.municipio|default_if_none:"-" }} - {{ admision.comedor.localidad|default_if_none:"-" }}</span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="comment-text">
                                Calle:
                                <span class="fw-bold">{{ admision.comedor.calle|default_if_none:"-" }} {{ admision.comedor.numero|default_if_none:"-" }} - Piso: {{ admision.comedor.piso|default_if_none:"-" }} {{ admision.comedor.departamento|default_if_none:"" }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title fw-bold fs-3">Documentación</h2>
                </div>
                <div class="card-body card-comments p-0 pb-1">
                    <!-- CONTENEDOR DE DOCUMENTOS -->
                    <div class="container mt-2 table-responsive">
                        <table class="table table-striped table-bordered table-hover table-sm"
                               id="tablaDocumentos">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Archivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for doc in documentos %}
                                    <tr id="fila-{{ doc.id }}">
                                        <td class="ps-3">{{ doc.nombre }}</td>
                                        <td>
                                            <a href="{{ doc.archivo_url }}"
                                               target="_blank"
                                               class="btn btn-primary btn-sm">Ver Archivo</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title fw-bold fs-3">Historial de movimientos</h2>
                </div>
                <div class="card-body p-0">
                    {% include 'components/data_table.html' with headers=historial_headers items=historial_cambios custom_cells=True show_actions=False empty_message='No hay movimientos registrados' include_pagination=True page_obj=historial_page_obj is_paginated=historial_is_paginated page_param=historial_page_param %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para modificar Informe SGA -->
    <div class="modal fade"
         id="modalInformeSGA"
         tabindex="-1"
         aria-labelledby="modalInformeSGALabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="informeSGAForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalInformeSGALabel">Informe SGA</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">¿Desea modificar el estado del Informe SGA?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" name="BtnInformeSGA" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal para confirmar Intervención Jurídicos -->
    <div class="modal fade"
         id="modalIntervencionJuridicos"
         tabindex="-1"
         aria-labelledby="modalIntervencionJuridicosLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="intervencionJuridicosForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalIntervencionJuridicosLabel">Expediente:</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body mb-2">
                        {{ form_intervencion_juridicos.intervencion_juridicos|as_crispy_field }}
                        <div id="motivoRechazoField" style="display:none;">
                            {{ form_intervencion_juridicos.rechazo_juridicos_motivo|as_crispy_field }}
                        </div>
                        <div id="motivoDictamenField" style="display:none;">
                            {{ form_intervencion_juridicos.dictamen_motivo|as_crispy_field }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                id="IntervencionJuridicosId"
                                name="BtnIntervencionJuridicos"
                                class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL RECTIFICAR -->
    <div class="modal fade"
         id="modalRectificar"
         tabindex="-1"
         aria-labelledby="modalRectificarLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Enviar a Rectificar</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            {{ form.observaciones.label_tag }} {{ form.observaciones }}
                            {% if form.observaciones.errors %}<div class="text-danger">{{ form.observaciones.errors }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-warning"
                                name="btnObservaciones"
                                id="btnObservaciones_id">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Form Reso -->
    <div class="modal fade"
         id="modalFormReso"
         tabindex="-1"
         aria-labelledby="modalFormResoLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Formulario Disposición</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for field in reso_form %}<div class="col-md-6 mb-3">{{ field|as_crispy_field }}</div>{% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" name="btnRESO" id="btnRESO_id">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Form Proyecto de Convenio -->
    <div class="modal fade"
         id="modalFormConvenio"
         tabindex="-1"
         aria-labelledby="modalFormConvenioLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Formulario Proyecto de Convenio</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Generará el PDF del Formulario Proyecto de Convenio.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnProyectoConvenio"
                                id="btnProyectoConvenio_id">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Reinicio de Expediente -->
    <div class="modal fade"
         id="modalReinicioExpediente"
         tabindex="-1"
         aria-labelledby="modalReinicioExpediente"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Reinicio de Expediente</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="mb-3 fw-bold">Esta seguro que desea Reiniciar el Expediente y enviar a Archivo?</h6>
                        {{ form_reinicio_expediente.observaciones_reinicio_expediente|as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-danger"
                                name="btnReinicioExpediente"
                                id="btnReinicioExpedienteID">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Solicitar Informe Complementario -->
    <div class="modal fade"
         id="modalSolicitarInformeComplementario"
         tabindex="-1"
         aria-labelledby="modalSolicitarInformeComplementario"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Solicitar Informe Técnico Complementario</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_solicitar_informe_complementario.observaciones_informe_tecnico_complementario|as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnInformeComplementario"
                                id="btnInformeComplementarioID">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Convenio -->
    <div class="modal fade"
         id="modalConvenio"
         tabindex="-1"
         aria-labelledby="modalConvenioLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Convenio</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_convenio.numero_convenio|as_crispy_field }}
                        {{ form_convenio.archivo_convenio|as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnConvenio"
                                id="btnConvenioID">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Disposicion -->
    <div class="modal fade"
         id="modalDisposicion"
         tabindex="-1"
         aria-labelledby="modalDisposicionLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Disposición</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_disposicion.numero_disposicion|as_crispy_field }}
                        {{ form_disposicion.archivo_disposicion|as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnDisposicion"
                                id="btnDisposicionID">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Numero IF -->
    <div class="modal fade"
         id="modalLegalesNumIF"
         tabindex="-1"
         aria-labelledby="modalLegalesNumIFLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Agrege el número de expediente</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">{{ form_legales_num_if.legales_num_if|as_crispy_field }}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnLegalesNumIF"
                                id="btnLegalesNumIF_id">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL IF Proyecto Convenio-->
    <div class="modal fade"
         id="modalConvenioNumIF"
         tabindex="-1"
         aria-labelledby="modalConvenioNumIFLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Agrege el número IF de Proyecto de Convenio</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">{{ convenio_num_if.numero_if|as_crispy_field }}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnConvenioNumIF"
                                id="btnConvenioNumIF_id">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL IF Proyecto Disposicion-->
    <div class="modal fade"
         id="modalDispoNumIF"
         tabindex="-1"
         aria-labelledby="modalDispoNumIFLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Agrege el número IF de Proyecto Disposición</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">{{ dispo_num_if.numero_if|as_crispy_field }}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnDispoNumIF"
                                id="btnDispoNumIF_id">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL Documento Expediente -->
    <div class="modal fade"
         id="modalDocumentoExpediente"
         tabindex="-1"
         aria-labelledby="modalDocumentoExpedienteLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDocumentoExpedienteLabel"></h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="tipo_id" name="tipo" value />
                        <p id="valueLabel">Label</p>
                        {{ documentos_form.value|as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-primary"
                                name="btnDocumentoExpediente"
                                id="btnDocumentoExpediente_id">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL IF Informe Complementario -->
    <div class="modal fade"
         id="modalIFInformeComplementario"
         tabindex="-1"
         aria-labelledby="modalIFInformeComplementarioLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">IF Informe Técnico Complementario</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="numero_if_complementario">Número IF:</label>
                            <input type="text"
                                   class="form-control"
                                   name="numero_if_complementario"
                                   id="numero_if_complementario"
                                   required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit"
                                class="btn btn-success"
                                name="btnIFInformeComplementario"
                                id="btnIFInformeComplementario_id">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script src="{% static 'custom/js/admisioneslegalesdetail.js' %}"></script>
{% endblock %}
