{% extends "includes/base.html" %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block titulo-pagina %}Perfil{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right ">
        <li class="breadcrumb-item active">Cambiar contraseña</li>
    </ol>
{% endblock %}
;
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col">
            <form class="needs-validation"
                  novalidate
                  method="POST"
                  enctype="multipart/form-data">
                <!-- Security token -->
                {% csrf_token %}
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Cambiar contraseña</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-12">{{ form.old_password| as_crispy_field }}</div>
                            <div class="form-group col-12">{{ form.new_password1| as_crispy_field }}</div>
                            <div class="form-group col-12">{{ form.new_password2| as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mx-2">
                    <button type="submit" class="btn btn-primary mr-1">Confirmar</button>
                    <a href="{% url 'legajos_listar' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block customJS %}
    <script>
  // Disable form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Get the forms we want to add validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
    </script>
{% endblock customJS %}
