{% extends "includes/base.html" %};
{% load crispy_forms_tags %}
{% load static %};

{% block title %}
Derivaciones
{%endblock %};

{% block titulo-pagina %}
Derivaciones
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="{% url 'MILD_derivaciones_listar'%}"
      title="Ver historial de derivaciones">Derivaciones</a></li>
      <li class="breadcrumb-item "><a href="{% url 'legajos_ver' object.fk_legajo.id %}" title="Ver legajo">{{object.fk_legajo}}</a></li>
  <li class="breadcrumb-item active">Rechazar</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<!-- card-info -->
<form class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
  <div class="row">
    <!-- Security token -->
    {% csrf_token %}

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Rechazar derivación</h3>
          <div class="card-tools d-inline">
            <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2 form-group">
                {{form.motivo_rechazo| as_crispy_field}}
            </div>

            <div class="col-12 form-group">
                {{form.obs_rechazo| as_crispy_field}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4 mx-2">
      <button type ="submit" class="btn btn-primary">Confirmar</button>
      <a href="{% url 'MILD_derivaciones_ver' object.pk %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </div>
</form>


{% endblock %};

{% block customJS %}
{% endblock %}