{% extends "includes/main.html" %};
{% load static %}
;
{% block title %}Relevamiento - {{ relevamiento.id }}{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <div class="breadcrumb-item">
            <a href="{% url 'comedores' %}">Comedores</a>
        </div>
        <div class="breadcrumb-item">
            <a href="{% url 'comedor_detalle' relevamiento.comedor.id %}">{{ relevamiento.comedor.nombre }}</a>
        </div>
        <div class="breadcrumb-item active">
            <a href="{% url 'relevamiento_detalle' relevamiento.comedor.id relevamiento.id %}">Relevamiento {{ relevamiento.fecha_visita | default_if_none:"Sin información" }}</a>
        </div>
        <div class="breadcrumb-item">Eliminar</div>
    </ol>
{% endblock %}
;
{% block content %}
    {% url 'relevamiento_detalle' relevamiento.comedor.id relevamiento.id as relevamiento_cancel_url %}
    {% include 'components/delete_confirm.html' with object_name=relevamiento cancel_url_full=relevamiento_cancel_url confirm_text='Dar de baja' %}
{% endblock %}
