{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Derivaciones
{%endblock %};

{% block titulo-pagina %}
Derivaciones
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="{% url 'derivaciones_historial'%}"
      title="Ver historial de derivaciones">Derivaciones</a></li>
  <li class="breadcrumb-item "><a href="" title="Ver legajo">Maradona, Diego Armando</a></li>
  <li class="breadcrumb-item active">[Asesorar/Rechazar]</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<!-- card-info -->
<form class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
  <div class="row">
    <!-- Security token -->
    {% csrf_token %}

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Asesorar Derivación</h3>
          <div class="card-tools d-inline">
            <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2 form-group">
              <label for="motivo">Motivo principal</label>
              <select id="motivo" class="form-control custom-select">
                <option selected="" disabled=""></option>
                <option>No corresponde</option>
                <option>Fuera de edad requerida</option>
              </select>
            </div>

            <div class="col-12 form-group">
              <label>Observaciones</label>
              <textarea class="form-control" rows="3" placeholder=""></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4 mx-2">
      <a href="{% url 'derivaciones_bandeja' %}" class="btn btn-primary mr-1">Confirmar</a>
      <a href="{% url 'derivaciones_detail' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </div>
</form>


{% endblock %};

{% block customJS %}
{% endblock %}