{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Intervenciones detalle
{%endblock %};

{% block titulo-pagina %}
Intervenciones
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item">Intervenciones</li>
  <li class="breadcrumb-item "><a href="#" title="Ver legajo">Baez, Jessica</a></li>
  <li class="breadcrumb-item active">Detalle</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}

<!-- card-info -->
<div class="row">
  <!-- botones -->
  
  <div class="col-12 my-3 mx-2 d-print-none">
    <a href="{% url 'intervenciones_form' %}" class="btn btn-primary mr-1">Editar</a>
    <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
    <a href="" class="btn btn-danger mr-1 print">Eliminar</a>
  </div>
  <!-- ./botones -->

</div>

<!-- Datos de legajo -->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Datos Personales</h3>
    <div class="card-tools">
      <a href="#" class="ml-3 mr-2" title="Ver legajo">Ver legajo</a>
      <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <dl class="row mb-0">
      <dd class="col-sm-5 mb-2">Nombre</dd>
      <dt class="col-sm-7 mb-2"> Baez, Jessica</dt>
      <dd class="col-sm-5 mb-2">DNI</dd>
      <dt class="col-sm-7 mb-2">54321012</dt>
      <dd class="col-sm-5 mb-2">Fecha de nacimiento</dd>
      <dt class="col-sm-7 mb-2">15/04/2005</dt>
      <dd class="col-sm-5 mb-2">Sexo</dd>
      <dt class="col-sm-7 mb-2">Femenino</dt>
    </dl>
  </div>
</div>
<!-- /  -->

<div class="row" id="seleccion">
  <!-- Detalle de intervencion -->
  <div class="col-sm-8 pb-3">
    <div class="card card-primary card-outline h-100">
      <div class="card-header">
        <h3 class="card-title">Detalle Intervención</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body mb-0">
        <dl class="row mb-0">
          <dd class="col-sm-3 mb-2">Afecta IVI</dd>
          <dt class="col-sm-9 mb-2"><span class=" badge badge-primary px-2">SI</span></dt>
          <dd class="col-sm-3 mb-2">Fecha</dd>
          <dt class="col-sm-9 mb-2">06/06/2019</dt>
          <dd class="col-sm-3 mb-2">Usuarios intervinientes</dd>
          <dt class="col-sm-9 mb-2">Azcurra Maria Luz</dt>
          <dd class="col-sm-3 mb-2">Criterio</dd>
          <dt class="col-sm-9 mb-2">Bebé, niño o niña con bajo peso o sobrepeso</dt>
          <dd class="col-sm-3 mb-2">Gestión sobre el criterio</dd>
          <dt class="col-sm-9 mb-2">Revertido</dt>
          <dd class="col-sm-3 mb-2">Acción realizada</dd>
          <dt class="col-sm-9 mb-2">Se realizo un control del niño sano</dt>
          <dd class="col-sm-3 mb-2">Detalles</dd>
          <dt class="col-sm-9 mb-2">
            Se llevo a cabo una evaluación médica del niño, que mostraba un índice de peso por debajo de lo normal, se encontró al mismo con un peso saludable.
          </dt>
        </dl>
      </div>
    </div>
  </div>
  <!-- ./ -->
  <div class="col-sm-4 ">
    

  </div>
</div>


{% endblock %};

{% block customJS %}
{% endblock %}