{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Vista de detalle
{%endblock %};

{% block titulo-pagina %}
Programas interviniendo
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="#">Plantilla</a></li>
  <li class="breadcrumb-item"><a href="#">[legajo nombre]</a></li>
  <li class="breadcrumb-item active">Programas interviniendo</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<!-- card-info -->
<div class="row">
  <!-- botones -->
  <div class="col-12 my-3 mx-2 d-print-none"><!-- clase para que no se imprima este div -->
    <button type="button" class="btn btn-secondary mr-1 print">Imprimir</button>
  </div>
</div>
<!-- ./botones -->
<div class="m-0 p-0" id="seleccion"><!-- row que se imprime -->

  <!-- Datos de legajo -->
  <div class="row mb-3">
    <div class="col-12">
      <div class="card card-outline card-primary h-100">
        <div class="card-header">
          <h3 class="card-title">Diego Armando Maradona</h3>
        </div>
        <div class="card-body">
          <dl class="row mb-0">
            <dt class="col-sm-3 font-weight-normal">Documento</dt>
            <dd class="col-sm-9 font-weight-bold">DNI 26698856</dd>
            <dt class="col-sm-3 font-weight-normal">Fecha de nacimiento</dt>
            <dd class="col-sm-9 font-weight-bold">30/10/1971</dd>
            <dt class="col-sm-3 font-weight-normal">Sexo</dt>
            <dd class="col-sm-9 font-weight-bold">Masculino</dd>
            <dt class="col-sm-3 font-weight-normal">Teléfono</dt>
            <dd class="col-sm-9 font-weight-bold">01198659865</dd>
            <dt class="col-sm-3 font-weight-normal">Email</dt>
            <dd class="col-sm-9 font-weight-bold">diego@mail.com</dd>
            <dt class="col-sm-3 font-weight-normal">Observaciones</dt>
            <dd class="col-sm-9 font-weight-bold">No atienden el teléfono</dd>
            <dt class="col-sm-3 font-weight-normal">Estado</dt>
            <dd class="col-sm-9 font-weight-bold text-success">Activo</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- /  -->

  <!-- Admisiones activas (estado "aceptada") -->
  <div class="row">
    <div class="col-12">
      <div class="card card-primary ">
        <div class="card-header">
          <h3 class="card-title mr-3 pt-1">Admisiones activas</h3>
          <span title="3 programas" class="badge badge-light">3</span>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body mt-2">

          <!-- programa -->

          <div class="row">
            <div class="col-12">
              <h3>CDIF</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 15/05/2020 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 1 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Nombre del responsable</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Lorem ipsum represents a long-held tradition for designers,
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore.
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card ">
                <div class="card-header pb-0">
                  <div class="card-title">
                    <h6>Consultar</h6>
                  </div>
                </div>
                <div class="card-body">
                  <textarea class="form-control" rows="4" placeholder="Escribir mensaje ..."></textarea>
                </div>
                <div class="card-footer py-2">
                  <button type="button" class="btn btn-primary float-right btn-sm">Enviar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ./programa -->

          <hr class="border-primary mb-2 mt-1 ">

          <!-- programa -->

          <div class="row">
            <div class="col-12">
              <h3>Módulos habitacionales</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 15/05/2020 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 1 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Nombre del responsable</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Lorem ipsum represents a long-held tradition for designers,
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore.
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card ">
                <div class="card-header pb-0">
                  <div class="card-title">
                    <h6>Consultar</h6>
                  </div>
                </div>
                <div class="card-body">
                  <textarea class="form-control" rows="3" placeholder="Escribir mensaje ..."></textarea>
                </div>
                <div class="card-footer py-2">
                  <button type="button" class="btn btn-primary float-right btn-sm">Enviar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ./programa -->

          <hr class="border-primary mb-2 mt-1 ">

          <!-- programa -->

          <div class="row">
            <div class="col-12">
              <h3>Entrega de alimentos frescos</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-muted text-sm font-weight-normal">Admitido desde 15/05/2020 </div>
              <div class="font-weight-bold"> Equipo interviniente
                <span class="badge badge-success mx-2 font-weight-normal"> Equipo 1 </span>
              </div>
              <div class="font-weight-bold"> Persona responsable
                <span class="badge badge-info mx-2 font-weight-normal"> Nombre del responsable</span>
              </div>
              <div class="font-weight-bold">
                Observaciones de admisión
                <div class="font-weight-normal">
                  Lorem ipsum represents a long-held tradition for designers,
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore.
                  typographers and the like. Some people hate it and argue for
                  its demise, but others ignore.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card ">
                <div class="card-header pb-0">
                  <div class="card-title">
                    <h6>Consultar</h6>
                  </div>
                </div>
                <div class="card-body">
                  <textarea class="form-control" rows="3" placeholder="Escribir mensaje ..."></textarea>
                </div>
                <div class="card-footer py-2">
                  <button type="button" class="btn btn-primary float-right btn-sm">Enviar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ./programa -->

        </div>
      </div>



    </div>
  </div>
<!-- / -->



<div class="row mt-4 d-print-none">
  <div class="col-12 mx-2">
    <a href="" class="btn btn-secondary">Volver</a>
  </div>
</div>
{% endblock %};

{% block customJS %}
<script language="Javascript">
  $(".print").click(function () {
    window.print();
  });
</script>
{% endblock %}