{% extends "includes/base.html" %};
{% load static %};

{% block title %}
Vacantes formulario
{%endblock %};

{% block titulo-pagina %}
Vacantes
{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="{% url 'vacantes_list'%}" title="Ver lisatdo de vacantes">Vacantes</a></li>
  <li class="breadcrumb-item "><a href="" title="Ver legajo">Maradona, Diego Armando</a></li>
  <li class="breadcrumb-item active">Detalle</li>
</ol>
{% endblock %};

{% block menu-adicional %}
{% endblock %};

{% block content %}
<!-- card-info -->
<div class="row">

  <!-- Datos de Admisión -->
  <div class="col-sm-4 pb-3">
    <div class="card card-outline card-primary h-100 mb-0">
      <div class="card-header">
        <h3 class="card-title">Detalle Admisión</h3>
        <div class="card-tools d-inline">
          <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body pb-1">
        <dl class="row mb-0">
          <dd class="col-sm-5 mb-2">Estado</dd>
          <dt class="col-sm-7 mb-2"><span class=" badge badge-success">Finalizada</span></dt>
          <dd class="col-sm-5 mb-2">Fecha de solicitud</dd>
          <dt class="col-sm-7 mb-2">15/03/2023</dt>
          <dd class="col-sm-5 mb-2">Solicitud creada por</dd>
          <dt class="col-sm-7 mb-2">Mariela Sanz</dt>
          <dd class="col-sm-5 mb-2">Centro solicitado</dd>
          <dt class="col-sm-7 mb-2">Santa Brígida</dt>
          <dd class="col-sm-5 mb-2">Sala solicitada</dd>
          <dt class="col-sm-7 mb-2">Sala de 3</dt>
          <dd class="col-sm-5 mb-2">Turno solicitado</dd>
          <dt class="col-sm-7 mb-2">Mañana</dt>
          <dd class="col-sm-12 mb-0 mt-4 pb-0 text-muted text-sm font-italic text-right">Modificado por Alejandra
            Ortiz -
            12/05/2023
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!-- /  -->

  <!-- Datos de legajo -->
  <div class="col-sm-4 pb-3">
    <div class="card card-outline card-primary h-100 mb-0">
      <div class="card-header">
        <h3 class="card-title">Detalle Legajo</h3>
        <div class="card-tools d-inline">
          <button type="button" class="btn btn-tool d-md-none" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <dl class="row mb-0">
          <dd class="col-sm-5 mb-2">Nombre</dd>
          <dt class="col-sm-7 mb-2"><a href="#" title="Ver legajo"> Maradona, Diego
              Fernando</a> </dt>
          <dd class="col-sm-5 mb-2">DNI</dd>
          <dt class="col-sm-7 mb-2">26698856</dt>
          <dd class="col-sm-5 mb-2">Fecha de nacimiento</dd>
          <dt class="col-sm-7 mb-2">30/10/1971</dt>
          <dd class="col-sm-5 mb-2">Sexo</dd>
          <dt class="col-sm-7 mb-2">Masculino</dt>
        </dl>
      </div>
    </div>
  </div>
  <!-- /  -->

  <!-- Datos de Indice -->
  <div class="col-sm-4 pb-3">
    <div class="card card-outline card-primary h-100 mb-0">
      <div class="card-header">
        <h3 class="card-title">Detalle IVI de ingreso</h3>
        <div class="card-tools d-inline">
          <a href="{% url 'indice_ivi_detail' %}" class="ml-3 mr-2">Ver detalles</a>
          <button type="button" class="btn btn-tool  d-md-none" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body pb-1">
        <dl class="row mb-0">
          <dd class="col-sm-7 mb-2">Puntaje</dd>
          <dt class="col-sm-5 mb-2"><span class=" badge badge-warning"> 17</span></dt>
          <dd class="col-sm-7 mb-2">Fecha del índice</dd>
          <dt class="col-sm-5 mb-2">10/03/2023</dt>
          <dd class="col-sm-7 mb-2">Puntaje máximo posible</dd>
          <dt class="col-sm-5 mb-2">111</dt>
          <dd class="col-sm-7 mb-2">Criterios presentes</dd>
          <dt class="col-sm-5 mb-2">10</dt>
          <dd class="col-sm-7 mb-2">Criterios modificables</dd>
          <dt class="col-sm-5 mb-2">3</dt>
          <dd class="col-sm-7 mb-2">Puntaje modificable</dd>
          <dt class="col-sm-5 mb-2">7</dt>
          <dd class="col-sm-12 mb-0 mt-4 pb-0 text-muted text-sm font-italic text-right">Generado por Azcurra
            Maria
            Luz
          </dd>
        </dl>
      </div>

    </div>
  </div>
  <!-- /  -->

  <!-- Form -->
  <div class="col">
    <form class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
      <!-- Security token -->
      {% csrf_token %}
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Confirmar vacante</h3>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-sm-2 form-group">
              <label>Fecha de ingreso</label>
              <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar-alt"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 form-group">
              <label>Centro al que ingresa</label>
              <select class="form-control custom-select">
                <option selected disabled></option>
                <option>CDIF Huellitas de Mitre</option>
                <option>CDIF Abriendo Alas</option>
                <option>CDIF Semillitas del Polo</option>
                <option>CDIF Rayito de Luz</option>
                <option>CDIF Creciendo Juntos</option>
                <option>CDIF Casa del Niño</option>
                <option>CDIF La Merced</option>
                <option selected>CDIF Santa Brígida</option>
                <option>CDIF Madre Esperanza</option>
              </select>
            </div>

            <div class="col-sm-2 form-group">
              <label>Sala a la que ingresa</label>
              <select class="form-control custom-select">
                <option selected disabled></option>
                <option>Bebés</option>
                <option>2</option>
                <option selected>3</option>
              </select>
            </div>
            <div class="col-sm-2 form-group">
              <label>Turno al que ingresa</label>
              <select class="form-control custom-select">
                <option selected disabled></option>
                <option selected>Mañana</option>
                <option>Tarde</option>
              </select>
            </div>
            <div class="col-sm-3 form-group">
              <label>Educador/a </label>
              <select class="form-control custom-select">
                <option selected disabled></option>
                <option>Torres Liliana Yanet</option>
                <option>Ganduglia Lourdes Rocío</option>
                <option>Bastrate Brenda Yamila</option>
                <option>Gonzalez Ana Laura</option>
              </select>
            </div>

          </div>
        </div>
      </div>

      <div class="mt-4 mx-2">
        <a href="{% url 'admisiones_detail' %}" class="btn btn-primary mr-1">Confirmar</a>
        <a href="{% url 'admisiones_detail' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>

</div>


{% endblock %};

{% block customJS %}
{% endblock %}