{% extends "includes/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Acciones{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="" title="Ver listado de admisiones">Expedientes de pagos</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{% url 'expedientespagos_detail' object.id %}"
               title="Ver ciudadano">{{ object.expediente_pago }}</a>
        </li>
        <li class="breadcrumb-item active">Eliminar</li>
    </ol>
{% endblock %}
{% block content %}
    {% include 'components/delete_confirm.html' with object_name=object.expediente_pago title='Dar de baja Expediente' cancel_url_with_id=True cancel_url='expedientespagos_detail' confirm_text='Dar de baja' cancel_text='Cancelar' message='¿Estás seguro que deseas dar de baja lógica el expediente' %}
{% endblock content %}
