{% extends "includes/main.html" %}
{% load static %}
{% block title %}Derivaciones{% endblock %}
{% block titulo-pagina %}Derivaciones{% endblock %}
;
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right ">
        <li class="breadcrumb-item">
            <a href="{% url 'ciudadanosderivaciones_historial' ciudadano.id %}">Historial derivaciones</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'ciudadanos_ver' ciudadano.id %}">{{ ciudadano.apellido }}, {{ ciudadano.nombre }}</a>
        </li>
        {% if request.resolver_match.url_name == 'ciudadanosderivaciones_editar' %}
            <li class="breadcrumb-item active">Editar</li>
        {% else %}
            <li class="breadcrumb-item active">Agregar</li>
        {% endif %}
    </ol>
{% endblock %}
;
{% load crispy_forms_tags %}
{% block content %}
    <!-- Datos de ciudadano -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-outline card-primary ">
                <div class="card-header">
                    <h3 class="card-title">Datos personales</h3>
                </div>
                <div class="card-body">
                    <dl class="row mb-0">
                        <dd class="col-sm-2 mb-2">
                            Nombre
                        </dd>
                        <dt class="col-sm-10 mb-2">
                            <a href="{{ url }}" title="Ver ciudadano">{{ ciudadano.apellido }}, {{ ciudadano.nombre }}</a>
                        </dt>
                        <dd class="col-sm-2 mb-2">
                            DNI
                        </dd>
                        <dt class="col-sm-10 mb-2">{{ ciudadano.documento }}</dt>
                        <dd class="col-sm-2 mb-2">
                            Fecha de nacimiento
                        </dd>
                        <dt class="col-sm-10 mb-2">{{ ciudadano.fecha_nacimiento|date:'d/m/Y' }}</dt>
                        <dd class="col-sm-2 mb-2">
                            Sexo
                        </dd>
                        <dt class="col-sm-10 mb-2">{{ ciudadano.sexo }}</dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- /  -->
    <div class="row">
        <div class="col">
            <form class="needs-validation"
                  novalidate
                  method="POST"
                  enctype="multipart/form-data">
                <!-- Security token -->
                {% csrf_token %}
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            {% if request.resolver_match.url_name != 'ciudadanosderivaciones_editar' %}
                                Agregar
                            {% else %}
                                Editar
                            {% endif %}
                            derivación
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col-12 mb-3">
                            <h3 class="font-weight-bold" id="ciudadano"></h3>
</div> -->
                            <div class="col-6 d-none">
                                <div class="form-group col-12">{{ form.usuario| as_crispy_field }}</div>
                            </div>
                            <div class="col-12 d-none">
                                <div class="form-group col-6">{{ form.estado| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-4 d-none">
                                <div class="form-group">{{ form.ciudadano| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">{{ form.programa_solicitante| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">{{ form.programa| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">{{ form.importancia| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">{{ form.alertas| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">{{ form.organismo| as_crispy_field }}</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Adjuntar archivos</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file"
                                                   class="custom-file-input"
                                                   id="exampleInputFile"
                                                   multiple
                                                   name="archivos" />
                                            <label class="custom-file-label" for="exampleInputFile"></label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">{{ form.detalles| as_crispy_field }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mx-2">
                    <button type="#" class="btn btn-primary mr-1">Confirmar</button>
                    <!-- <a href="{% url 'ciudadanos_ver' request.resolver_match.kwargs.pk %}" -->
                    <a href="{% url 'ciudadanos_ver' ciudadano.id %}"
                       class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script src="{% static 'custom/js/ciudadanosderivacionesform.js' %}"></script>
{% endblock %}
;
