{% extends "includes/main.html" %}
{% load static crispy_forms_tags %}
;
{% block title %}Comedores - Relevamientos{% endblock %}
{% block titulo-pagina %}Relevamientos - Comedores: {{ comedor.nombre }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right px-3">
        <li class="breadcrumb-item">
            <a href="{% url 'comedores' %}">Comedores</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'comedor_detalle' comedor.id %}">{{ comedor.nombre }}</a>
        </li>
        {% if request.resolver_match.url_name == "relevamiento_editar" %}
            <li class="breadcrumb-item">
                <a href="{% url 'relevamiento_detalle' comedor.id relevamiento.id %}">Relevamiento {{ relevamiento.fecha_visita | default_if_none:"-" }}</a>
            </li>
            <li class="breadcrumb-item active">Editar</li>
        {% else %}
            <li class="breadcrumb-item active">Agregar</li>
        {% endif %}
    </ol>
{% endblock %}
;
{% block content %}
    <link rel="stylesheet" href="{% static 'admin/css/select2templated.css' %}" />
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="bs-stepper">
                    <div class="card-header mb-3">
                        <h3 class="card-title">Agregar Comedor/Merendero</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-row justify-content-center">
                            <form method="post" class="w-100">
                                {% csrf_token %}
                                <h1>1- Datos del Comedor/Merendero</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">1.1 Datos del Comedor/Merendero</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ form.fecha_visita_ui|as_crispy_field }}</div>
                                            <div class="col-4">{{ form.comedor|as_crispy_field }}</div>
                                            <div class="col-4">{{ form.comienzo|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ funcionamiento_form.modalidad_prestacion|as_crispy_field }}</div>
                                            <div class="col-4">{{ funcionamiento_form.servicio_por_turnos|as_crispy_field }}</div>
                                            <div class="col-4">{{ funcionamiento_form.cantidad_turnos|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                    <h3 class="mt-5">1.2 Domicilio del Comedor/Merendero</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-3">{{ form.calle|as_crispy_field }}</div>
                                            <div class="col-3">{{ form.numero|as_crispy_field }}</div>
                                            <div class="col-3">{{ form.entre_calle_1|as_crispy_field }}</div>
                                            <div class="col-3">{{ form.entre_calle_2|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ form.barrio|as_crispy_field }}</div>
                                            <div class="col-4">{{ form.codigo_postal|as_crispy_field }}</div>
                                            <div class="col-4">{{ form.localidad|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ form.municipio|as_crispy_field }}</div>
                                            <div class="col-4">{{ form.partido|as_crispy_field }}</div>
                                            <div class="col-4">{{ form.provincia|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                    <h3 class="mt-5">1.3 Datos del responsable del relevamiento</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ form.responsable_es_referente|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ referente_form.nombre|as_crispy_field }}</div>
                                            <div class="col-4">{{ referente_form.apellido|as_crispy_field }}</div>
                                            <div class="col-4">{{ referente_form.mail|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ referente_form.celular|as_crispy_field }}</div>
                                            <div class="col-4">{{ referente_form.documento|as_crispy_field }}</div>
                                            <div class="col-4">{{ referente_form.funcion|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h1>2- Datos sobre el espacio fisico donde funciona el Comedor/Merendero</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">2.1 Espacio donde funciona</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_form.tipo_espacio_fisico|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_form.espacio_fisico_otro|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                    <h3 class="mt-5">2.2 Espacio donde se cocina y almacenamiento de alimentos</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_cocina_form.espacio_elaboracion_alimentos|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_cocina_form.almacenamiento_alimentos_secos|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_cocina_form.heladera|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_cocina_form.freezer|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_cocina_form.recipiente_residuos_organicos|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_cocina_form.recipiente_residuos_reciclables|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_cocina_form.recipiente_otros_residuos|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_cocina_form.otros_residuos|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_cocina_form.abastecimiento_combustible|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_cocina_form.abastecimiento_agua|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_cocina_form.abastecimiento_agua_otro|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_cocina_form.instalacion_electrica|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                    <h3 class="mt-5">2.3 Espacio donde se brinda la prestación del Comedor/Merendero</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_prestacion_form.espacio_equipado|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_prestacion_form.tiene_ventilacion|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_prestacion_form.tiene_salida_emergencia|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_prestacion_form.salida_emergencia_senializada|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_prestacion_form.tiene_equipacion_incendio|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_prestacion_form.tiene_botiquin|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_prestacion_form.tiene_buena_iluminacion|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_prestacion_form.tiene_sanitarios|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_prestacion_form.desague_hinodoro|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_prestacion_form.gestion_quejas|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ espacio_prestacion_form.gestion_quejas_otro|as_crispy_field }}</div>
                                            <div class="col-6">{{ espacio_prestacion_form.informacion_quejas|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                    <h3 class="mt-5">2.4 Higiene del espacio fisico</h3>
                                    <div class="px-3 mt-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-12">{{ espacio_prestacion_form.frecuencia_limpieza|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h1>3- Datos sobre las personas que realizan tareas en el Comedor/Merendero</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">3.1 Personas que realizan tareas en el Comedor/Merendero</h3>
                                    <div class="px-3 mx-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ colaboradores_form.cantidad_colaboradores|as_crispy_field }}</div>
                                            <div class="col-6">{{ colaboradores_form.colaboradores_capacitados_alimentos|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ colaboradores_form.colaboradores_recibieron_capacitacion_alimentos|as_crispy_field }}</div>
                                            <div class="col-6">{{ colaboradores_form.colaboradores_capacitados_salud_seguridad|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ colaboradores_form.colaboradores_recibieron_capacitacion_emergencias|as_crispy_field }}</div>
                                            <div class="col-6">{{ colaboradores_form.colaboradores_recibieron_capacitacion_violencia|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h1>4- Datos sobre recursos del Comedor/Merendero</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">4.1 Origen y tipo de recursos</h3>
                                    <div class="px-3 mx-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ recursos_form.recibe_donaciones_particulares|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.frecuencia_donaciones_particulares|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.recursos_donaciones_particulares|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ recursos_form.recibe_estado_nacional|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.frecuencia_estado_nacional|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.recursos_estado_nacional|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ recursos_form.recibe_estado_provincial|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.frecuencia_estado_provincial|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.recursos_estado_provincial|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ recursos_form.recibe_estado_municipal|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.frecuencia_estado_municipal|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.recursos_estado_municipal|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-4">{{ recursos_form.recibe_otros|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.frecuencia_otros|as_crispy_field }}</div>
                                            <div class="col-4">{{ recursos_form.recursos_otros|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h1>5- Datos sobre la realización de compras para abastecer el Comedor/Merendero</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">5.1 Lugares donde suele realizar las compras para abastecer el Comedor/Merendero</h3>
                                    <div class="px-3 mx-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ compras_form.almacen_cercano|as_crispy_field }}</div>
                                            <div class="col-6">{{ compras_form.verduleria|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ compras_form.granja|as_crispy_field }}</div>
                                            <div class="col-6">{{ compras_form.carniceria|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ compras_form.pescaderia|as_crispy_field }}</div>
                                            <div class="col-6">{{ compras_form.supermercado|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ compras_form.mercado_central|as_crispy_field }}</div>
                                            <div class="col-6">{{ compras_form.ferias_comunales|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-6">{{ compras_form.mayoristas|as_crispy_field }}</div>
                                            <div class="col-6">{{ compras_form.otro|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h1>6- Datos sobre la prestación alimentaria</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">6.1 Resumen de prestaciones actuales y en lista de esprea informadas por el Comedor/Merendero</h3>
                                    <div class="px-3 mx-1">
                                        <table class="table table-striped" border="1">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="2" class="text-center">LUNES</th>
                                                    <th colspan="2" class="text-center">MARTES</th>
                                                    <th colspan="2" class="text-center">MIÉRCOLES</th>
                                                    <th colspan="2" class="text-center">JUEVES</th>
                                                    <th colspan="2" class="text-center">VIERNES</th>
                                                    <th colspan="2" class="text-center">SÁBADO</th>
                                                    <th colspan="2" class="text-center">DOMINGO</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                    <th>Personas actuales</th>
                                                    <th>Personas en espera</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>DESAYUNO</td>
                                                    <td>{{ prestacion_form.lunes_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.lunes_desayuno_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_desayuno_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_desayuno_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_desayuno_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_desayuno_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_desayuno_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_desayuno_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_desayuno_espera | as_crispy_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td>ALMUERZO</td>
                                                    <td>{{ prestacion_form.lunes_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.lunes_almuerzo_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_almuerzo_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_almuerzo_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_almuerzo_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_almuerzo_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_almuerzo_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_almuerzo_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_almuerzo_espera | as_crispy_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td>MERIENDA</td>
                                                    <td>{{ prestacion_form.lunes_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.lunes_merienda_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_merienda_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_merienda_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_merienda_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_merienda_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_merienda_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_merienda_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_merienda_espera | as_crispy_field }}</td>
                                                </tr>
                                                <tr>
                                                    <td>CENA</td>
                                                    <td>{{ prestacion_form.lunes_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.lunes_cena_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.martes_cena_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.miercoles_cena_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.jueves_cena_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.viernes_cena_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.sabado_cena_espera | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_cena_actual | as_crispy_field }}</td>
                                                    <td>{{ prestacion_form.domingo_cena_espera | as_crispy_field }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <h1>Anexo</h1>
                                <div class="px-3">
                                    <h3 class="mt-5">Informacion sobre el anexo</h3>
                                    <div class="px-3 mx-1">
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.comedor_merendero|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.insumos_organizacion|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.tipo_insumo|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.frecuencia_insumo|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.veces_recibio_insumos_2024|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.tecnologia|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.servicio_internet|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.acceso_comedor|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.distancia_transporte|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.zona_inundable|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_jardin_maternal|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_jardin_infantes|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.apoyo_escolar|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.alfabetizacion_terminalidad|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.capacitaciones_talleres|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.promocion_salud|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_discapacidad|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.necesidades_alimentarias|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_recreativas|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_culturales|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.emprendimientos_productivos|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_religiosas|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end">
                                            <div class="col-12 col-md-4">{{ anexo_form.actividades_huerta|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.espacio_huerta|as_crispy_field }}</div>
                                            <div class="col-12 col-md-4">{{ anexo_form.otras_actividades|as_crispy_field }}</div>
                                        </div>
                                        <div class="form-group row align-items-end mt-3">
                                            <div class="col-12 col-md-12">{{ anexo_form.cuales_otras_actividades|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h1>7- Observación</h1>
                                <div class="px-3">
                                    <div class="px-3 mx-1">{{ form.observacion|as_crispy_field }}</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <button class="btn btn-primary" type="submit">Confirmar</button>
                                <a class='btn btn-secondary print mx-3 d-none d-sm-inline'>Imprimir</a>
                                <a href='#' onclick='window.history.back();' class='btn btn-secondary'>Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
;
{% block customJS %}
    <script>
        const responsable = {
            esReferente: "{{ relevamiento.responsable_es_referente }}",
            nombre: "{{ responsable.nombre | default_if_none:'' }}",
            apellido: "{{ responsable.apellido | default_if_none:'' }}",
            mail: "{{ responsable.mail | default_if_none:'' }}",
            celular: "{{ responsable.celular | default_if_none:'' }}",
            documento: "{{ responsable.documento | default_if_none:'' }}"
        }
        const referente = {
            nombre: "{{ comedor.referente__nombre | default_if_none:'' }}",
            apellido: "{{ comedor.referente__apellido | default_if_none:'' }}",
            mail: "{{ comedor.referente__mail | default_if_none:'' }}",
            celular: "{{ comedor.referente__celular | default_if_none:'' }}",
            documento: "{{ comedor.referente__documento | default_if_none:'' }}",
        }
    </script>
    <script src="{% static 'custom/js/relevamientoform.js' %}"></script>
{% endblock %}
