<!-- Ciudadano Stepper - Step 6: Archivos -->
<div class="bs-stepper">
    <div class="bs-stepper-header" role="tablist">
        <div class="step d-none d-sm-inline">
            <a href="{% url 'ciudadanos_editar' object.pk %}"
               class="step-trigger"
               role="tab">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Datos Personales</span>
            </a>
        </div>
        <div class="line d-none d-sm-inline"></div>
        <div class="step d-none d-sm-inline">
            <a href="{% url 'ciudadanosdimensiones_editar' object.pk %}"
               class="step-trigger"
               role="tab">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Dimensiones</span>
            </a>
        </div>
        <div class="line d-none d-sm-inline"></div>
        <div class="step d-none d-sm-inline">
            <a href="{% url 'grupofamiliar_crear' object.pk %}"
               class="step-trigger"
               role="tab">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Grupo Familiar</span>
            </a>
        </div>
        <div class="line d-none d-sm-inline"></div>
        <div class="step d-none d-sm-inline">
            <a href="{% url 'ciudadanosgrupohogar_crear' object.pk %}"
               class="step-trigger"
               role="tab">
                <span class="bs-stepper-circle">4</span>
                <span class="bs-stepper-label">Grupo Hogar</span>
            </a>
        </div>
        <div class="line d-none d-sm-inline"></div>
        <div class="step">
            <a href="{% url 'alertas_crear' object.pk %}"
               class="step-trigger"
               role="tab">
                <span class="bs-stepper-circle">5</span>
                <span class="bs-stepper-label">Alertas</span>
            </a>
        </div>
        <div class="line"></div>
        <div class="step active">
            <a type="button" class="step-trigger text-primary" role="tab">
                <span class="bs-stepper-circle">6</span>
                <span class="bs-stepper-label">Archivos</span>
            </a>
        </div>
    </div>
</div>
