{% extends "includes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Usuarios{% endblock %}
{% block titulo-pagina %}Usuario{% endblock %};

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right ">
    <li class="breadcrumb-item "> Administración</li>
    <li class="breadcrumb-item"><a href="{% url 'usuarios_listar' %}">Usuarios</a></li>
    <li class="breadcrumb-item active"> {{ object.usuario}}</li>
</ol>
{% endblock %};

{% block content %}

<div class="row">
    <!-- botones -->
    <div class="col-12 my-3 mx-2 d-print-none">
        {% if request.user.id == object.id %}
        {%elif perms.Usuarios.rol_admin%}
            <a href="{% url 'usuarios_editar' object.usuario.id %}" class="btn btn-primary mr-1">Editar</a>
            <a href="{% url 'cambiar_password' %}" class="btn btn-secondary mr-1">Cambiar Contraseña</a>
            <a href="" class="btn btn-secondary mr-1 print">Imprimir</a>
        {%if perms.Usuarios.rol_admin%}
            <a href="{% url 'grupos_eliminar' object.id%}" class="btn btn-danger mr-1">Eliminar</a>
        {%endif%}
        {% elif perms.Usuarios.rol_admin %}
            <a href="{% url 'usuarios_editar'  object.usuario.id %}" class="btn btn-primary mr-1">Editar</a>        
            <a href="{% url 'password_reset' object.usuario_id %}" class="btn btn-secondary mr-1"> Resetear Contraseña</a>
            <a href="{% url 'usuarios_eliminar' object.id %}" class="btn btn-danger mr-1">Eliminar</a>
        {% endif %}
    </div>
    <!-- ./botones -->
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card  card-outline">
            <div class="card-header mr-2 ml-2 mt-2 p-0">
                {% if object.imagen%}
                <img class="card-img-top" src="{{object.imagen.url}}" alt="User profile picture" />
                {% else %}
                <img class="card-img-top" src="{% static 'custom/img/default.png'%}" alt="User profile picture" />
                {% endif %}
            </div>
           
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col">
                <div class="card card-outline">
                    <div class="card-header">
                        <div class="card-title">
                            Datos del usuario
                        </div>
                    </div>
                    <div class="card-footer card-comments p-2">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <div class="comment-text">
                                    Usuario
                                    <span class="username">{{object.usuario}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    Nombres
                                    <span class="username">{{object.usuario.first_name|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    Apellidos
                                    <span class="username">{{object.usuario.last_name|default_if_none:"-"|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    DNI
                                    <span
                                        class="username">{{object.dni|default_if_none:"-"|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    EMAIL
                                    <span class="username">{{object.usuario.email|default_if_none:"-"|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    Teléfono
                                    <span
                                        class="username">{{object.telefono|default_if_none:"-"|default:"-"}}</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="comment-text">
                                    Estado
                                    <span class="username">
                                        {% if object.usuario.is_active %}
                                        <span class="text-success font-weight-bold">Activo</span>
                                        {% else %}
                                        <span class="text-danger font-weight-bold">Inactivo</span>
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-outline">
            <div class="card-header">
                <div class="card-title">
                    Grupos
                </div>
            </div>
            <div class="card-footer card-comments p-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                            <span class="username">
                                <ul class="list-unstyled m-0">
                                    {%for g in object.usuario.groups.all %}
                                    <a href="{% url 'grupos_ver' g.id%}">
                                        <h5>
                                            <li class="badge badge-secondary">{{g}}</li>
                                        </h5>
                                    </a>
                                    {%empty%}
                                    <li><span class="font-weight-bold">-</span></li>
                                    {%endfor%}
                                </ul>
                            </span>
                        
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
{% if perms.Usuarios.rol_admin %}
<div class="row mt-4 d-print-none">
    <div class="col-12 mx-2">
      <a href="{% url 'usuarios_listar'%}" class="btn btn-secondary">Volver</a>
    </div>
  </div>
  {% endif %}

{% endblock content %}


{% block customJS %}
{% endblock %}
